@use 'sass:color';
@use 'variables' as *;

@mixin fullwidth-gallery {
  &.full-width {
    margin-left: -14px;
    margin-right: -14px;
    width: inherit;
    max-width: none;
    border-radius: 0;
  }
}

@mixin search-input {
  outline: 0;
  box-sizing: border-box;
  width: 100%;
  box-shadow: none;
  font-family: inherit;
  background: var(--input-background-color);
  color: $darker-text-color;
  border-radius: 4px;
  border: 1px solid var(--background-border-color);
  font-size: 17px;
  line-height: normal;
  margin: 0;
}

@mixin search-popout {
  background: $simple-background-color;
  border-radius: 4px;
  padding: 10px 14px;
  padding-bottom: 14px;
  margin-top: 10px;
  color: $light-text-color;
  box-shadow: 2px 4px 15px color.change($base-shadow-color, $alpha: 0.4);

  h4 {
    text-transform: uppercase;
    color: $light-text-color;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  li {
    padding: 4px 0;
  }

  ul {
    margin-bottom: 10px;
  }

  em {
    font-weight: 500;
    color: $inverted-text-color;
  }
}

// Polyam: Style is reused for icon buttons
@mixin follow-unfollow-icons {
  .icon-button {
    border: 1px solid var(--background-border-color);
    border-radius: 4px;
    box-sizing: content-box;
    padding: 5px;

    // Polyam: Color active icon-button
    &.active {
      border-color: $highlight-text-color;

      &:hover,
      &:focus,
      &:active {
        background-color: rgba($highlight-text-color, 0.15);
      }
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}

// Polyam: Style is reused for anniversary banner
@mixin account-banner {
  padding: 20px;
  background: var(--surface-background-color);
  display: flex;
  align-items: center;
  flex-direction: column;

  &__message {
    color: $darker-text-color;
    padding: 8px 0;
    padding-top: 0;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .detailed-status__display-name {
    margin-bottom: 0;
  }
}
