.account-anniversary-banner {
  @include account-banner;
}

.account-anniversary-banner__message {
  margin-bottom: 0;
}

.account-anniversary-banner {
  position: relative;
  z-index: -2;
}

@keyframes fall {
  0% {
    transform: translateY(-220%) rotate(0);
  }

  100% {
    transform: translateY(220%) rotate(180deg);
  }
}

.no-reduce-motion {
  .fedimation {
    .fedi-logo {
      animation: fall 5s linear infinite;

      &:nth-child(even) {
        animation-delay: 2.5s;
      }
    }
  }
}

.fedimation {
  display: flex;
  justify-content: space-between;
  user-select: none;
  pointer-events: none;
  z-index: -1;
  width: 100%;
  height: 0;

  .fedi-logo {
    width: 18px;
    height: 18px;
    background-image: url('@/flavours/polyam/images/fediverse.svg');
    background-size: contain;
    transform: translateY(-220%);
  }
}
