// Polyam: Collapsing CSS kept from upstream

@keyframes spring-flip-in {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(-242.4deg);
  }

  60% {
    transform: rotate(-158.35deg);
  }

  90% {
    transform: rotate(-187.5deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes spring-flip-out {
  0% {
    transform: rotate(-180deg);
  }

  30% {
    transform: rotate(62.4deg);
  }

  60% {
    transform: rotate(-21.635deg);
  }

  90% {
    transform: rotate(7.5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.status__wrapper.collapsed {
  .status {
    background-position: center;
    background-size: cover;
    user-select: none;
    min-height: 0;
  }

  .display-name:hover .display-name__html {
    text-decoration: none;
  }

  .status__content__wrapper {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0;
    mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);

    a:hover {
      text-decoration: none;
    }

    // Polyam extra change for backgrounds of code blocks
    pre,
    code {
      padding: 0;
    }
  }

  .notification__message {
    margin-bottom: 0;
    white-space: nowrap;
  }
}

.status__collapse-button.active > .icon {
  transform: rotate(-180deg);
}

.no-reduce-motion .status__collapse-button {
  &.activate {
    & > .icon {
      animation: spring-flip-in 1s linear;
    }
  }

  &.deactivate {
    & > .icon {
      animation: spring-flip-out 1s linear;
    }
  }
}

.notification__message-collapse-button {
  text-align: end;
  flex-grow: 2;

  // Polyam: Different size, because smaller for polyam-glitch
  .status__collapse-button .icon {
    width: 16px;
    height: 16px;
  }
}
