@use '../../variables' as *;
@use '../../functions' as *;
@use '../mixins' as *;

.account {
  padding: 10px; // glitch: reduced padding
  border-bottom: 1px solid var(--background-border-color);

  .account__display-name {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    color: $darker-text-color;
    overflow: hidden;
    text-decoration: none;
    font-size: 14px;

    .display-name {
      margin-bottom: 4px;
    }

    .display-name strong {
      display: inline;
    }
  }

  &--minimal {
    .account__display-name {
      .display-name {
        margin-bottom: 0;
      }

      .display-name strong {
        display: block;
      }
    }
  }

  &__avatar-wrapper .account__avatar {
    @container (width < 360px) {
      width: 35px !important;
      height: 35px !important;
    }
  }

  &__domain-pill {
    display: inline-flex;
    background: rgba($highlight-text-color, 0.2);
    border-radius: 4px;
    border: 0;
    color: $highlight-text-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 8px;

    &.active {
      color: $white;
      background: $ui-highlight-color;
    }

    &__popout {
      background: var(--dropdown-background-color);
      backdrop-filter: $backdrop-blur-filter;
      border: 1px solid var(--dropdown-border-color);
      box-shadow: var(--dropdown-shadow);
      max-width: 320px;
      padding: 16px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      font-size: 14px;
      line-height: 20px;
      color: $darker-text-color;

      .link-button {
        display: inline;
        font-size: inherit;
        line-height: inherit;
      }

      &__header {
        display: flex;
        align-items: center;
        gap: 12px;

        &__icon {
          width: 40px;
          height: 40px;
          background: $ui-highlight-color;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          flex-shrink: 0;
        }

        h3 {
          font-size: 17px;
          line-height: 22px;
          color: $primary-text-color;
        }
      }

      &__handle {
        border: 2px dashed $highlight-text-color;
        background: rgba($highlight-text-color, 0.1);
        padding: 12px 8px;
        color: $highlight-text-color;
        border-radius: 4px;

        &__label {
          font-size: 11px;
          line-height: 16px;
          font-weight: 500;
        }

        &__handle {
          overflow: hidden;
          text-overflow: ellipsis;
          user-select: all;
        }
      }

      &__parts {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 12px;
        line-height: 16px;

        & > div {
          display: flex;
          align-items: flex-start;
          gap: 12px;
        }

        &__icon {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          color: $highlight-text-color;
        }

        h6 {
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          color: $primary-text-color;
        }
      }
    }
  }

  &__note {
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-top: 10px;
    color: $darker-text-color;

    &--missing {
      color: $dark-text-color;
    }

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: inherit;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }
}

.account__wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
}

.account__wrapper--with-bio {
  align-items: start;
}

.account__info-wrapper {
  flex: 1 1 auto;
  min-width: 0;
}

// Polyam: Removed background to fix transparent avatars
.account__avatar {
  display: block;
  position: relative;
  border-radius: var(--avatar-border-radius);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--avatar-border-radius);
    display: inline-block; // to not show broken images
  }

  &--loading {
    background-color: var(--surface-background-color);
  }

  &--inline {
    display: inline-block;
    vertical-align: middle;
    margin-inline-end: 5px;
  }

  &-composite {
    overflow: hidden;
    position: relative;

    & > div {
      float: left;
      position: relative;
      box-sizing: border-box;
    }

    .account__avatar {
      width: 100% !important;
      height: 100% !important;
    }

    &__label {
      display: block;
      position: absolute;
      top: 50%;
      inset-inline-start: 50%;
      transform: translate(-50%, -50%);
      color: $primary-text-color;
      text-shadow: 1px 1px 2px $base-shadow-color;
      font-weight: 700;
      font-size: 15px;
    }
  }

  &__counter {
    $height: 16px;
    $h-padding: 5px;

    position: absolute;
    bottom: -3px;
    inset-inline-end: -3px;
    padding-left: $h-padding;
    padding-right: $h-padding;
    height: $height;
    border-radius: $height;
    min-width: $height - 2 * $h-padding; // to ensure that it is never narrower than a circle
    line-height: $height + 1px; // to visually center the numbers
    background-color: $ui-button-background-color;
    color: $white;
    border-width: 1px;
    border-style: solid;
    border-color: var(--background-color);
    font-size: 11px;
    font-weight: 500;
    text-align: center;
  }
}

a .account__avatar {
  cursor: pointer;
}

.avatar-group {
  display: flex;

  --avatar-height: 28px;

  &:not(.avatar-group--compact) {
    gap: 8px;
    flex-wrap: wrap;
    height: var(--avatar-height);
    overflow-y: clip;
  }
}

.avatar-group--compact {
  & > :not(:first-child) {
    margin-inline-start: -12px;
  }

  & > :first-child {
    transform: rotate(-4deg);
  }

  & > :nth-child(2) {
    transform: rotate(-2deg);
  }

  .account__avatar {
    box-shadow: 0 0 0 2px var(--background-color);
  }
}

.account__avatar-overlay {
  position: relative;

  &-overlay {
    position: absolute;
    bottom: 0;
    inset-inline-end: 0;
    z-index: 1;
  }
}

// Polyam: Kept height and padding from upstream since polyam-glitch still uses icon buttons
.account__relationship {
  height: 18px;
  padding: 10px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
}

// Polyam: Split from .explore-suggestions-card
.account__relationship {
  @include follow-unfollow-icons;
}

.account-authorize {
  padding: 14px 10px;

  .detailed-status__display-name {
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
  }
}

.account-authorize__avatar {
  float: left;
  margin-inline-end: 10px;
}

// Polyam: Split from .status__display-name, .status__relative-time, .detailed-statuse__display-name etc. class
.account__display-name {
  @include no-text-decoration;
}

// Polyam: Split from .status__display-name, .acocunt__display-name class
.account__display-name {
  @include display-name-primary-color;
}

// Polyam: Split from .status__display-name, .detailed-status__display-name, a.account__display-name
a.account__display-name {
  @include underline-display-name-on-hover;
}

.account__display-name .display-name strong {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.display-name {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &__account {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.display-name__html {
  font-weight: 500;
}

.inline-account {
  display: inline-flex;
  align-items: center;
  vertical-align: top;

  .account__avatar {
    margin-inline-end: 5px;
    border-radius: 50%;
  }

  strong {
    font-weight: 600;
  }
}

.account--panel {
  border-top: 1px solid var(--background-border-color);
  border-bottom: 1px solid var(--background-border-color);
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

// Polyam: Split from .account--panel__button, .detailed-status__button
.account--panel__button {
  @include panel-button;
}

.account__disclaimer {
  display: flex;
  padding: 10px;
  gap: 5px;
  color: $dark-text-color;
  align-items: center;

  strong {
    font-weight: 500;
  }

  a {
    font-weight: 500;
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}

.account__action-bar {
  border-top: 1px solid lighten($ui-base-color, 8%);
  border-bottom: 1px solid lighten($ui-base-color, 8%);
  line-height: 36px;
  overflow: hidden;
  flex: 0 0 auto;
  display: flex;
}

.account__action-bar-links {
  display: flex;
  flex: 1 1 auto;
  line-height: 18px;
  text-align: center;
}

.account__action-bar__tab {
  text-decoration: none;
  overflow: hidden;
  flex: 0 1 100%;
  border-inline-start: 1px solid lighten($ui-base-color, 8%);
  padding: 10px 0;
  border-bottom: 4px solid transparent;

  &:first-child {
    border-inline-start: 0;
  }

  &.active {
    border-bottom: 4px solid $ui-highlight-color;
  }

  & > span {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: $darker-text-color;
  }

  strong {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: $primary-text-color;

    @each $lang in $cjk-langs {
      &:lang(#{$lang}) {
        font-weight: 700;
      }
    }
  }

  abbr {
    color: $highlight-text-color;
  }
}

.account-gallery__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;

  .media-gallery__item {
    border-radius: 0;
  }

  .load-more,
  .timeline-hint {
    grid-column: span 3;
  }
}

// Polyam: Split from .notification__filter-bar, .account__section-headline
.account__section-headline {
  @include filter-bar;
}

.account__header__content {
  color: $darker-text-color;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  word-break: normal;
  word-wrap: break-word;
  margin-top: 16px; // Polyam: Note is shown after fields

  p {
    margin-bottom: 20px;
    unicode-bidi: plaintext;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.account__header {
  overflow: hidden;
  container: account-header / inline-size;

  &.inactive {
    opacity: 0.5;

    .account__header__image,
    .account__avatar {
      filter: grayscale(100%);
    }
  }

  &__info {
    position: absolute;
    top: 20px;
    inset-inline-end: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }

  &__image {
    overflow: hidden;
    height: 145px;
    position: relative;
    background: darken($ui-base-color, 4%);
    border-bottom: 1px solid var(--background-border-color);

    img {
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }

  &__bar {
    position: relative;
    padding: 0 20px;
    padding-bottom: 16px; // glitch-soc addition for the different tabs design
    border-bottom: 1px solid var(--background-border-color);

    .avatar {
      display: block;
      flex: 0 0 auto;

      .account__avatar {
        background: var(--background-color);
        border: 1px solid var(--background-border-color);
        border-radius: var(--avatar-border-radius);
      }
    }
  }

  &__badges {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .account-role {
      line-height: unset;
    }
  }

  &__tabs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: -55px;
    padding-top: 10px;
    gap: 8px;
    overflow: hidden;
    margin-inline-start: -2px; // aligns the pfp with content below

    &__buttons {
      display: flex;
      align-items: center;
      gap: 8px;
      padding-top: 55px;
      overflow: hidden;

      .button {
        flex-shrink: 1;
        white-space: nowrap;
        min-width: 80px;
      }

      .icon-button {
        border: 1px solid var(--background-border-color);
        border-radius: 4px;
        box-sizing: content-box;
        padding: 5px;

        .icon {
          width: 24px;
          height: 24px;
        }

        &.copied {
          border-color: $valid-value-color;
        }
      }

      @container account-header (max-width: 372px) {
        .optional {
          display: none;
        }
      }
    }

    &__name {
      margin-top: 16px;
      margin-bottom: 16px;

      .emojione {
        width: 22px;
        height: 22px;
      }

      h1 {
        font-size: 17px;
        line-height: 22px;
        color: $primary-text-color;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        small {
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: 14px;
          line-height: 20px;
          color: $darker-text-color;
          font-weight: 400;
          overflow: hidden;
          text-overflow: ellipsis;

          span {
            overflow: hidden;
            text-overflow: ellipsis;
            user-select: all;
          }

          .icon-lock {
            height: 16px;
            width: 16px;
          }
        }
      }
    }

    .spacer {
      flex: 1 1 auto;
    }
  }

  &__bio {
    .account__header__content {
      color: $primary-text-color;
    }

    // Polyam: Kept from upstream as join date at bottom looks better imo
    .account__header__joined {
      font-size: 14px;
      margin-top: 10px;
      color: $darker-text-color;
    }

    .account__header__fields {
      margin: 0;

      // Polyam: margin-top: 16px; removed as margin to note was too large
      border-radius: 4px;
      border: 1px solid var(--background-border-color);

      dl {
        display: block;
        padding: 8px 16px; // glitch-soc: padding purposfuly reduced
        border-bottom-color: var(--background-border-color);
      }

      dd,
      dt {
        font-size: 13px;
        line-height: 18px;
        padding: 0;
        text-align: initial;
      }

      dt {
        width: auto;
        background: transparent;
        text-transform: uppercase;
        color: $dark-text-color;
      }

      dd {
        color: $darker-text-color;
      }

      a {
        color: lighten($ui-highlight-color, 8%);
      }

      .icon {
        width: 18px;
        height: 18px;
      }

      .verified {
        border: 1px solid rgba($valid-value-color, 0.5);
        margin-top: -1px;
        margin-inline: -1px;

        &:first-child {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }

        &:last-child {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          margin-bottom: -1px;
        }

        dt,
        dd {
          color: $valid-value-color;
        }

        dd {
          display: flex;
          align-items: center;
          gap: 4px;

          span {
            display: flex;
          }
        }

        a {
          color: $valid-value-color;
        }
      }
    }
  }

  &__extra {
    margin-top: 16px;

    &__links {
      font-size: 14px;
      color: $darker-text-color;
      margin: 0 -10px;
      padding-top: 16px;
      padding-bottom: 10px;

      a {
        display: inline-block;
        color: $darker-text-color;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: 500;

        strong {
          font-weight: 700;
          color: $primary-text-color;
        }
      }
    }
  }

  &__account-note {
    color: $primary-text-color;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;

    label {
      display: block;
      font-size: 12px;
      font-weight: 500;
      color: $darker-text-color;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    textarea {
      display: block;
      box-sizing: border-box;
      width: calc(100% + 20px);
      color: $secondary-text-color;
      background: transparent;
      padding: 10px;
      margin: 0 -10px;
      font-family: inherit;
      font-size: 14px;
      resize: none;
      border: 0;
      outline: 0;
      border-radius: 4px;

      &::placeholder {
        color: $dark-text-color;
        opacity: 1;
      }

      &:focus {
        background: $ui-base-color;
      }
    }
  }

  &__familiar-followers {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 16px;
    color: $darker-text-color;

    a:any-link {
      font-weight: 500;
      text-decoration: none;
      color: $primary-text-color;
    }
  }
}

.account__contents {
  overflow: hidden;

  // Polyam: This is used to display account bios properly in follow reqs in onboarding.
  > .account__note {
    margin-top: 0;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
}

.account__details {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
}
