// Commonly used web colors
$black: #000000; // Black
$white: #ffffff; // White
$red-600: #b7253d !default; // Deep Carmine
$red-500: #df405a !default; // Cerise
$blurple-600: #563acc; // Iris
$blurple-500: #6364ff; // Brand purple
$blurple-300: #858afa; // Faded Blue
$grey-600: #4e4c5a; // Trout
$grey-100: #dadaf3; // Topaz

$success-green: #79bd9a !default; // Padua
$error-red: $red-500 !default; // Cerise
$warning-red: #ff5050 !default; // Sunset Orange
$gold-star: #ca8f04 !default; // Dark Goldenrod

$red-bookmark: $warning-red;

// Oatstodon colors
$text: #d9e1e8;
$text-secondary: #606984; // Is actually just dark-text-color

$background: #121225;
$background-brighter: #16162f;
$app-background: #080811;

$accent: #27b791;
$accent-secondary: #3e5b54;
$accent-bright: #5cc1a2;

// Values from the classic Mastodon UI
$classic-base-color: #282c37; // Midnight Express
$classic-primary-color: #9baec8; // Echo Blue
$classic-secondary-color: #d9e1e8; // Pattens Blue
$classic-highlight-color: #6364ff; // Brand purple

$simple-background-color: $background-brighter !default;

// text color
$primary-text-color: $text !default; // oatstodon text-color
$secondary-text-color: $text-secondary !default; // oatstodon text-color-secondary
$action-button-color: $accent-secondary !default; // oatstodon accent-color-secondary
$dark-text-color: lighten(
  $classic-base-color,
  26%
) !default; // default Mastodon color
$darker-text-color: $classic-primary-color !default;

// Color inverted colors the same as regular colors
$inverted-text-color: $primary-text-color !default;
$light-text-color: $dark-text-color !default;
$lighter-text-color: $darker-text-color !default;

// UI
$ui-base-color: $background !default; // oatstodon background-color
$ui-highlight-color: $accent !default; // oatstodon accent-color

$ui-button-color: $white !default;
$ui-button-background-color: darken($accent, 12%) !default;
$ui-button-focus-background-color: darken($accent, 8%) !default;

$ui-button-secondary-color: $grey-100 !default;
$ui-button-secondary-border-color: $grey-100 !default;
$ui-button-secondary-focus-background-color: $grey-600 !default;
$ui-button-secondary-focus-color: $white !default;

$ui-button-tertiary-color: lighten($ui-highlight-color, 8%) !default;
$ui-button-tertiary-border-color: lighten($ui-highlight-color, 8%) !default;
$ui-button-tertiary-focus-background-color: $ui-highlight-color !default;
$ui-button-tertiary-focus-color: $white !default;

$ui-button-destructive-background-color: $red-500 !default;
$ui-button-destructive-focus-background-color: $red-600 !default;

// Border
$border-radius: 5px !default;

// Arrows in select elements
$arrow-color: $accent-secondary !default;
