@use '../../variables' as *;
@use '../../functions' as *;

.picture-in-picture {
  position: fixed;
  bottom: 20px;
  inset-inline-end: 20px;
  width: 300px;
  box-shadow: var(--dropdown-shadow);

  // glitch: feature to chose which side the pop-in player is displayed
  &.left {
    inset-inline-end: unset;
    inset-inline-start: 20px;
  }

  &__footer {
    border-radius: 0 0 4px 4px;
    background: var(--modal-background-variant-color);
    backdrop-filter: var(--background-filter);
    border: 1px solid var(--modal-border-color);
    border-top: 0;
    padding: 12px;
    display: flex;
    justify-content: space-between;
  }

  &__header {
    border-radius: 4px 4px 0 0;
    background: var(--modal-background-variant-color);
    backdrop-filter: var(--background-filter);
    border: 1px solid var(--modal-border-color);
    border-bottom: 0;
    padding: 12px;
    display: flex;
    justify-content: space-between;

    .icon-button {
      padding: 6px;
    }

    &__account {
      display: flex;
      text-decoration: none;
      overflow: hidden;
    }

    .account__avatar {
      margin-inline-end: 8px;
    }

    .display-name {
      color: $primary-text-color;
      text-decoration: none;

      strong,
      span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      span {
        color: $darker-text-color;
      }
    }
  }

  .video-player,
  .audio-player {
    border-radius: 0;
  }
}

.picture-in-picture-placeholder {
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px dashed var(--background-border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
  cursor: pointer;
  color: $dark-text-color;
  aspect-ratio: 16 / 9;

  .icon {
    width: 45px;
    height: 45px;
    margin-bottom: 8px;
  }

  &:hover,
  &:active,
  &:focus {
    color: $darker-text-color;
  }

  &:focus-visible {
    outline: $ui-button-focus-outline;
    border-color: transparent;
  }
}
