.status__content__text,
.e-content,
.edit-indicator__content,
.reply-indicator__content {
  pre,
  blockquote {
    margin-bottom: 20px;
    white-space: pre-wrap;
    unicode-bidi: plaintext;

    &:last-child {
      margin-bottom: 0;
    }
  }

  blockquote {
    padding-inline-start: 10px;
    border-inline-start: 3px solid $darker-text-color;
    color: $darker-text-color;
    white-space: normal;

    p:last-child {
      margin-bottom: 0;
    }
  }

  & > ul,
  & > ol {
    margin-bottom: 20px;
  }

  b,
  strong {
    font-weight: 700;
  }

  em,
  i {
    font-style: italic;
  }

  ul,
  ol {
    margin-inline-start: 2em;

    p {
      margin: 0;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  code {
    background: darken($ui-base-color, 4%);
    border-radius: 3px;
    padding: 0 0.3em;
  }

  pre {
    background: darken($ui-base-color, 4%);
    border-radius: 3px;
    padding: 0.5em;
  }

  pre code {
    // prevent padding of code tags inside pre
    padding: 0;
  }
}
