@use 'base';
@use 'dark';
@use 'light';

html {
  @include base.palette;

  &[data-user-theme='system'] {
    color-scheme: dark light;

    @media (prefers-color-scheme: dark) {
      // Polyam: Wrapped in data-system-dark to not override user-set dark skin
      &[data-system-dark='default'] {
        @include dark.tokens;

        @media (prefers-contrast: more) {
          @include dark.contrast-overrides;
        }
      }
    }

    @media (prefers-color-scheme: light) {
      // Polyam: Wrapped in data-system-light to not override user-set light skin
      &[data-system-light='mastodon-light'] {
        @include light.tokens;

        @media (prefers-contrast: more) {
          @include light.contrast-overrides;
        }
      }
    }
  }
}

.theme-dark,
html:where(
  :not([data-user-theme='mastodon-light'], [data-user-theme='system'])
) {
  color-scheme: dark;

  @include dark.tokens;
}

html[data-user-theme='contrast'],
html[data-user-theme='contrast'] .theme-dark {
  @include dark.contrast-overrides;
}

.theme-light,
html:where([data-user-theme='mastodon-light']) {
  color-scheme: light;

  @include light.tokens;
}
