@use '../mastodon/theme/utils' as utils;

/* HOMOGAY COLORS */
@mixin palette {
  --color-pink-1: #a71494;
  --color-pink-2: #d61ebe;
  --color-pink-3: #ef6ede;
  --color-pink-4: #d4b6cb;
  --color-pink-5: #ffe8fc; // text-primary
  --color-green-1: #5fe43d;
  --color-yellow-1: #e4ba3d;
  --color-yellow-2: #c96932;
  --color-purple-1: #190e25; // bg
  --color-purple-2: #211230; // bg-semi-lighter
  --color-purple-3: #321c4a; // bg brighter
  --color-purple-4: #371f51; // border
  --color-purple-5: #89779c; // text-second
  --color-purple-6: #9686a7; // text-tertiary
  --color-purple-7: #0f0816; // bg darker
  --color-purple-8: #685879;
  --color-red-1: #c9343b;
}

@mixin tokens {
  /* HOMOGAY EXTRA */

  --border-radius: 8px;
  --faint-shadow: #{utils.css-alpha(var(--color-black), 40%)};

  /* TEXT TOKENS */

  --color-text-primary: var(--color-pink-5);
  --color-text-secondary: var(--color-purple-5);
  --color-text-tertiary: var(--color-purple-6);
  --color-text-on-inverted: var(--color-text-primary);
  --color-text-brand: var(--color-pink-2);
  --color-text-brand-soft: color-mix(
    in oklab,
    var(--color-text-primary),
    var(--color-text-brand)
  );
  --color-text-on-brand-base: var(--color-white);
  --color-text-brand-on-inverted: var(--color-text-brand);
  --color-text-error: var(--color-red-1);
  --color-text-on-error-base: var(--color-white);
  --color-text-warning: var(--color-yellow-1);
  --color-text-on-warning-base: var(--color-white);
  --color-text-success: var(--color-green-1);
  --color-text-on-success-base: var(--color-white);
  --color-text-disabled: var(--color-purple-8);
  --color-text-on-disabled: var(--color-purple-5);
  --color-text-bookmark-highlight: var(--color-yellow-2);
  --color-text-favourite-highlight: var(--color-text-warning);
  --color-text-on-media: var(--color-white);
  --color-text-status-links: var(--color-text-brand);

  /* BACKGROUND TOKENS */

  // Neutrals
  --color-bg-primary: var(--color-purple-1);
  --overlay-strength-secondary: 100%;
  --color-bg-secondary-base: var(--color-purple-2);
  --color-bg-secondary: #{utils.css-alpha(
      var(--color-bg-secondary-base),
      var(--overlay-strength-secondary)
    )};
  --color-bg-secondary-solid: color-mix(
    in srgb,
    var(--color-bg-primary),
    var(--color-bg-secondary-base) var(--overlay-strength-secondary)
  );
  --color-bg-tertiary: color-mix(
    in oklab,
    var(--color-bg-primary),
    var(--color-bg-secondary-base) calc(2 * var(--overlay-strength-secondary))
  );

  // Utility
  --color-bg-ambient: var(--color-bg-primary);
  --color-bg-elevated: var(--color-bg-primary);
  --color-bg-inverted: var(--color-black);
  --color-bg-media-base: var(--color-black);
  --color-bg-media-strength: 65%;
  --color-bg-media: #{utils.css-alpha(
      var(--color-bg-media-base),
      var(--color-bg-media-strength)
    )};
  --color-bg-overlay: var(--color-black);
  --color-bg-disabled: var(--color-grey-700);

  // Brand
  --overlay-strength-brand: 10%;
  --color-bg-brand-base: var(--color-pink-1);
  --color-bg-brand-base-hover: color-mix(
    in oklab,
    var(--color-bg-brand-base),
    black var(--overlay-strength-brand)
  );
  --color-bg-brand-soft: #{utils.css-alpha(
      var(--color-bg-brand-base),
      calc(var(--overlay-strength-brand) * 1.5)
    )};
  --color-bg-brand-softer: #{utils.css-alpha(
      var(--color-bg-brand-base),
      var(--overlay-strength-brand)
    )};

  // Error
  --overlay-strength-error: 12%;
  --color-bg-error-base: var(--color-red-600);
  --color-bg-error-base-hover: color-mix(
    in oklab,
    var(--color-bg-error-base),
    black var(--overlay-strength-error)
  );
  --color-bg-error-soft: #{utils.css-alpha(
      var(--color-bg-error-base),
      calc(var(--overlay-strength-error) * 1.5)
    )};
  --color-bg-error-softer: #{utils.css-alpha(
      var(--color-bg-error-base),
      var(--overlay-strength-error)
    )};

  // Warning
  --overlay-strength-warning: 10%;
  --color-bg-warning-base: var(--color-yellow-2);
  --color-bg-warning-base-hover: color-mix(
    in oklab,
    var(--color-bg-warning-base),
    black var(--overlay-strength-warning)
  );
  --color-bg-warning-soft: #{utils.css-alpha(
      var(--color-bg-warning-base),
      calc(var(--overlay-strength-warning) * 1.5)
    )};
  --color-bg-warning-softer: #{utils.css-alpha(
      var(--color-bg-warning-base),
      var(--overlay-strength-warning)
    )};

  // Success
  --overlay-strength-success: 15%;
  --color-bg-success-base: var(--color-green-600);
  --color-bg-success-base-hover: color-mix(
    in oklab,
    var(--color-bg-success-base),
    black var(--overlay-strength-success)
  );
  --color-bg-success-soft: #{utils.css-alpha(
      var(--color-bg-success-base),
      calc(var(--overlay-strength-success) * 1.5)
    )};
  --color-bg-success-softer: #{utils.css-alpha(
      var(--color-bg-success-base),
      var(--overlay-strength-success)
    )};

  /* BORDER TOKENS */

  --border-strength-primary: 100%;
  --color-border-primary: #{utils.css-alpha(
      var(--color-purple-4),
      var(--border-strength-primary)
    )};
  --color-border-media: rgb(252 248 255 / 15%);
  --color-border-on-bg-secondary: #{utils.css-alpha(
      var(--color-purple-4),
      calc(var(--border-strength-primary) / 1.5)
    )};
  --color-border-on-bg-brand-softer: var(--color-border-primary);
  --color-border-on-bg-error-softer: #{utils.css-alpha(
      var(--color-text-error),
      50%
    )};
  --color-border-on-bg-warning-softer: #{utils.css-alpha(
      var(--color-text-warning),
      50%
    )};
  --color-border-on-bg-success-softer: #{utils.css-alpha(
      var(--color-text-success),
      50%
    )};
  --color-border-on-bg-inverted: var(--color-border-primary);

  /* SHADOW TOKENS */

  --shadow-strength-primary: 80%;
  --color-shadow-primary: #{utils.css-alpha(
      var(--color-black),
      var(--shadow-strength-primary)
    )};
  --dropdown-shadow:
    0 20px 25px -5px var(--color-shadow-primary),
    0 8px 10px -6px var(--color-shadow-primary);
  --overlay-icon-shadow: drop-shadow(0 0 8px var(--color-shadow-primary));

  /* GRAPHS/CHARTS TOKENS */

  --color-graph-primary-stroke: var(--color-text-brand);
  --color-graph-primary-fill: var(--color-bg-brand-softer);
  --color-graph-warning-stroke: var(--color-text-warning);
  --color-graph-warning-fill: var(--color-bg-warning-softer);
  --color-graph-disabled-stroke: var(--color-text-disabled);
  --color-graph-disabled-fill: var(--color-bg-disabled);

  /* LEGACY TOKENS */

  --rich-text-container-color: rgb(87 24 60 / 100%);
  --rich-text-text-color: rgb(255 175 212 / 100%);
  --rich-text-decorations-color: rgb(128 58 95 / 100%);
}
