/* BORDERS */

.button,
.dropdown-menu,
.drawer__header,
.drawer__pager,
.account__avatar,
.search__input,
.status-card,
.language-dropdown__dropdown,
.privacy-dropdown__dropdown,
.poll__option input[type='text'],
.account__header__tabs__buttons .icon-button,
.emoji-picker-dropdown__menu,
.emoji-mart-search input,
.compose-form__highlightable,
.report-modal,
.actions-modal,
.compare-history-modal {
  border-radius: var(--border-radius);
}

// Polyam: increased radius looks off in compose, so set to default
.compose-form__actions .button {
  border-radius: 4px;
}

.dropdown-menu {
  padding-top: var(--border-radius);
  padding-bottom: var(--border-radius);
}

.emoji-mart-scroll {
  margin-bottom: var(--border-radius);
  padding-bottom: 0;
}

.column-header {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  //  border-left: 1px solid $ui-base-lighter-color;
  //  border-top: 1px solid $ui-base-lighter-color;
  //  border-right: 1px solid $ui-base-lighter-color;
}

.column > .scrollable {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* GENRAL UI */

.button {
  text-shadow: 0 0 6px var(--faint-shadow);
}

.icon-with-badge__badge {
  text-shadow: 0 0 2px rgb(from var(--color-shadow-primary) r g b / 100%);
}

.poll__option input[type='text'] {
  border-color: var(--color-border-primary);
}

// Polyam: Fix border color of poll checkbox in compose
.compose-form__poll {
  .poll__input {
    border-color: var(--color-border-primary);
  }

  .poll__option.editable .poll__input {
    // Polyam: Fix color change on hover
    &:hover,
    &:focus {
      border-color: var(--color-border-primary);
    }
  }
}

.media-gallery__item.letterbox {
  background: none; // remove the black background from letterbox images
}

/* SETTINGS */

.admin-wrapper {
  // Polyam: Keep in different color to make it look less boring
  .sidebar-wrapper {
    &__inner {
      background-color: var(--color-bg-secondary);
    }
  }

  // Polyam: Restore background for selected option in menu
  .sidebar {
    ul {
      ul {
        background: var(--color-bg-primary);
      }
    }
  }
}

// Polyam: Make inputs darker than background
.simple_form {
  input[type='datetime-local'],
  input[type='email'],
  input[type='number'],
  input[type='password'],
  input[type='text'],
  input[type='url'],
  textarea,
  select {
    background-color: var(--color-black);
  }
}
