.account-role {
  // Default values for automated badge since old style is kept
  --user-role-border: rgb(from var(--color-text-primary) r g b / 50%);
  --user-role-background: rgb(from var(--color-text-primary) r g b / 10%);

  border-color: var(--user-role-border);
  background-color: var(--user-role-background);
  color: var(--color-text-primary);

  &__preview {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: var(--color-bg-primary);

    .item {
      padding: 12px 15px;
      border: none;
    }

    .dark {
      background-color: var(--color-grey-950);

      .account-role {
        color: var(--color-grey-50);
        background-color: var(
          --user-role-background,
          rgb(from var(--color-grey-50) r g b / 10%)
        );
        border-color: var(
          --user-role-border,
          rgb(from var(--color-grey-50) r g b / 50%)
        );
      }
    }

    .light {
      background-color: var(--color-white);

      .account-role {
        color: var(--color-grey-950);
        background-color: var(
          --user-role-background,
          rgb(from var(--color-grey-950) r g b / 10%)
        );
        border-color: var(
          --user-role-border,
          rgb(from var(--color-grey-950) r g b / 50%)
        );
      }
    }
  }
}
