.account {
  padding: 10px; // glitch: reduced padding

  .account__display-name {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    color: $darker-text-color;
    overflow: hidden;
    text-decoration: none;
    font-size: 14px;

    .display-name {
      margin-bottom: 4px;
    }

    .display-name strong {
      display: inline;
    }
  }

  &--minimal {
    .account__display-name {
      .display-name {
        margin-bottom: 0;
      }

      .display-name strong {
        display: block;
      }
    }
  }

  &__domain-pill {
    display: inline-flex;
    background: rgba($highlight-text-color, 0.2);
    border-radius: 4px;
    border: 0;
    color: $highlight-text-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 8px;

    &.active {
      color: $white;
      background: $ui-highlight-color;
    }

    &__popout {
      background: var(--dropdown-background-color);
      backdrop-filter: var(--background-filter);
      border: 1px solid var(--dropdown-border-color);
      box-shadow: var(--dropdown-shadow);
      max-width: 320px;
      padding: 16px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      font-size: 14px;
      line-height: 20px;
      color: $darker-text-color;

      .link-button {
        display: inline;
        font-size: inherit;
        line-height: inherit;
      }

      &__header {
        display: flex;
        align-items: center;
        gap: 12px;

        &__icon {
          width: 40px;
          height: 40px;
          background: $ui-highlight-color;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          flex-shrink: 0;
        }

        h3 {
          font-size: 17px;
          line-height: 22px;
          color: $primary-text-color;
        }
      }

      &__handle {
        border: 2px dashed $highlight-text-color;
        background: rgba($highlight-text-color, 0.1);
        padding: 12px 8px;
        color: $highlight-text-color;
        border-radius: 4px;

        &__label {
          font-size: 11px;
          line-height: 16px;
          font-weight: 500;
        }

        &__handle {
          user-select: all;
        }
      }

      &__parts {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 12px;
        line-height: 16px;

        & > div {
          display: flex;
          align-items: flex-start;
          gap: 12px;
        }

        &__icon {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          color: $highlight-text-color;
        }

        h6 {
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          color: $primary-text-color;
        }
      }
    }
  }

  &__note {
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-top: 10px;
    color: $darker-text-color;

    &--missing {
      color: $dark-text-color;
    }

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: inherit;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }
}

// Polyam: Kept from upstream -- Upstream removed this feature
.follow-recommendations-account {
  .icon-button {
    color: $ui-primary-color;

    &.active {
      color: $valid-value-color;
    }
  }
}

.account__wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.account__avatar {
  display: block;
  position: relative;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  &-inline {
    display: inline-block;
    vertical-align: middle;
    margin-inline-end: 5px;
  }

  &-composite {
    overflow: hidden;
    position: relative;

    & > div {
      float: left;
      position: relative;
      box-sizing: border-box;
    }

    .account__avatar {
      width: 100% !important;
      height: 100% !important;
    }

    &__label {
      display: block;
      position: absolute;
      top: 50%;
      inset-inline-start: 50%;
      transform: translate(-50%, -50%);
      color: $primary-text-color;
      text-shadow: 1px 1px 2px $base-shadow-color;
      font-weight: 700;
      font-size: 15px;
    }
  }

  &__counter {
    $height: 16px;
    $h-padding: 5px;

    position: absolute;
    bottom: -3px;
    inset-inline-end: -3px;
    padding-left: $h-padding;
    padding-right: $h-padding;
    height: $height;
    border-radius: $height;
    min-width: $height - 2 * $h-padding; // to ensure that it is never narrower than a circle
    line-height: $height + 1px; // to visually center the numbers
    background-color: $ui-button-background-color;
    color: $white;
    border-width: 1px;
    border-style: solid;
    border-color: var(--background-color);
    font-size: 11px;
    font-weight: 500;
    text-align: center;
  }
}

a .account__avatar {
  cursor: pointer;
}

.account__avatar-overlay {
  position: relative;

  &-overlay {
    position: absolute;
    bottom: 0;
    inset-inline-end: 0;
    z-index: 1;
  }
}

// Polyam: Kept height and padding from upstream since polyam-glitch still uses icon buttons
.account__relationship {
  height: 18px;
  padding: 10px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
}

// Polyam: Split from .explore__suggestions__card
.account__relationship {
  @include follow-unfollow-icons;
}

.account-authorize {
  padding: 14px 10px;

  .detailed-status__display-name {
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
  }
}

.account-authorize__avatar {
  float: left;
  margin-inline-end: 10px;
}

// Polyam: Split from .status__display-name, .status__relative-time, .detailed-statuse__display-name etc. class
.account__display-name {
  @include no-text-decoration;
}

// Polyam: Split from .status__display-name, .acocunt__display-name class
.account__display-name {
  @include display-name-primary-color;
}

// Polyam: Split from .status__display-name, .detailed-status__display-name, a.account__display-name
a.account__display-name {
  @include underline-display-name-on-hover;
}

.account__display-name .display-name strong {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inline-account {
  display: inline-flex;
  align-items: center;
  vertical-align: top;

  .account__avatar {
    margin-inline-end: 5px;
    border-radius: 50%;
  }

  strong {
    font-weight: 600;
  }
}

.account--panel {
  border-top: 1px solid var(--background-border-color);
  border-bottom: 1px solid var(--background-border-color);
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

// Polyam: Split from .account--panel__button, .detailed-status__button
.account--panel__button {
  @include panel-button;
}

.relationship-tag {
  color: $white;
  margin-bottom: 4px;
  display: block;
  background-color: rgba($black, 0.45);
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 2px 6px;
  border-radius: 4px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.account__disclaimer {
  display: flex;
  padding: 10px;
  gap: 5px;
  color: $dark-text-color;
  align-items: center;

  strong {
    font-weight: 500;
  }

  a {
    font-weight: 500;
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}

.account__action-bar {
  border-top: 1px solid lighten($ui-base-color, 8%);
  border-bottom: 1px solid lighten($ui-base-color, 8%);
  line-height: 36px;
  overflow: hidden;
  flex: 0 0 auto;
  display: flex;
}

.account__action-bar-links {
  display: flex;
  flex: 1 1 auto;
  line-height: 18px;
  text-align: center;
}

.account__action-bar__tab {
  text-decoration: none;
  overflow: hidden;
  flex: 0 1 100%;
  border-inline-start: 1px solid lighten($ui-base-color, 8%);
  padding: 10px 0;
  border-bottom: 4px solid transparent;

  &:first-child {
    border-inline-start: 0;
  }

  &.active {
    border-bottom: 4px solid $ui-highlight-color;
  }

  & > span {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: $darker-text-color;
  }

  strong {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: $primary-text-color;

    @each $lang in $cjk-langs {
      &:lang(#{$lang}) {
        font-weight: 700;
      }
    }
  }

  abbr {
    color: $highlight-text-color;
  }
}

.account-gallery__container {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 2px;
}

.account-gallery__item {
  border: 0;
  box-sizing: border-box;
  display: block;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;

  &__icons {
    position: absolute;
    top: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }
}

// Polyam: Split from .notification__filter-bar, .account__section-headline
.account__section-headline {
  @include filter-bar;
}

.account-anniversary-banner,
.moved-account-banner,
.follow-request-banner,
.account-memorial-banner {
  padding: 20px;
  background: var(--surface-background-color);
  display: flex;
  align-items: center;
  flex-direction: column;

  &__message {
    color: $darker-text-color;
    padding: 8px 0;
    padding-top: 0;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .detailed-status__display-name {
    margin-bottom: 0;
  }
}

.follow-request-banner .button {
  width: 100%;
}

.account-anniversary-banner__message,
.account-memorial-banner__message {
  margin-bottom: 0;
}

.account-anniversary-banner {
  position: relative;
  z-index: -2;
}

.account__header__content {
  color: $darker-text-color;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  word-break: normal;
  word-wrap: break-word;
  margin-top: 16px; // Polyam: Note is shown after fields

  p {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.account__header {
  overflow: hidden;

  &.inactive {
    opacity: 0.5;

    .account__header__image,
    .account__avatar {
      filter: grayscale(100%);
    }
  }

  &__info {
    position: absolute;
    top: 10px;
    inset-inline-start: 10px;
  }

  &__image {
    overflow: hidden;
    height: 145px;
    position: relative;
    background: darken($ui-base-color, 4%);
    border-bottom: 1px solid var(--background-border-color);

    img {
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }

  &__bar {
    position: relative;
    padding: 0 20px;
    padding-bottom: 16px; // glitch-soc addition for the different tabs design
    border-bottom: 1px solid var(--background-border-color);

    .avatar {
      display: block;
      flex: 0 0 auto;
      width: 94px;

      .account__avatar {
        background: var(--background-color);
        border: 1px solid var(--background-border-color);
        border-radius: 4px;
      }
    }
  }

  &__badges {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .account-role {
      line-height: unset;
    }
  }

  &__tabs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: -55px;
    padding-top: 10px;
    gap: 8px;
    overflow: hidden;
    margin-inline-start: -2px; // aligns the pfp with content below

    &__buttons {
      display: flex;
      align-items: center;
      gap: 8px;
      padding-top: 55px;
      overflow: hidden;

      .button {
        flex-shrink: 1;
        white-space: nowrap;

        @media screen and (max-width: $no-gap-breakpoint) {
          min-width: 0;
        }
      }

      .icon-button {
        border: 1px solid lighten($ui-base-color, 12%);
        border-radius: 4px;
        box-sizing: content-box;
        padding: 5px;

        .icon {
          width: 24px;
          height: 24px;
        }
      }
    }

    &__name {
      margin-top: 16px;
      margin-bottom: 16px;

      .emojione {
        width: 22px;
        height: 22px;
      }

      h1 {
        font-size: 17px;
        line-height: 22px;
        color: $primary-text-color;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        small {
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: 14px;
          line-height: 20px;
          color: $darker-text-color;
          font-weight: 400;
          overflow: hidden;
          text-overflow: ellipsis;

          span {
            user-select: all;
          }

          .icon-lock {
            height: 16px;
            width: 16px;
          }
        }
      }
    }

    .spacer {
      flex: 1 1 auto;
    }
  }

  &__bio {
    .account__header__content {
      color: $primary-text-color;
    }

    // Polyam: Kept from upstream as join date at bottom looks better imo
    .account__header__joined {
      font-size: 14px;
      margin-top: 10px;
      color: $darker-text-color;
    }

    .account__header__fields {
      margin: 0;

      // Polyam: margin-top: 16px; removed as margin to note was too large
      border-radius: 4px;
      border: 1px solid var(--background-border-color);

      dl {
        display: block;
        padding: 8px 16px; // glitch-soc: padding purposfuly reduced
        border-bottom-color: var(--background-border-color);
      }

      dd,
      dt {
        font-size: 13px;
        line-height: 18px;
        padding: 0;
        text-align: initial;
      }

      dt {
        width: auto;
        background: transparent;
        text-transform: uppercase;
        color: $dark-text-color;
      }

      dd {
        color: $darker-text-color;
      }

      a {
        color: lighten($ui-highlight-color, 8%);
      }

      .icon {
        width: 18px;
        height: 18px;
      }

      .verified {
        border: 1px solid rgba($valid-value-color, 0.5);
        margin-top: -1px;
        margin-inline: -1px;

        &:first-child {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }

        &:last-child {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          margin-bottom: -1px;
        }

        dt,
        dd {
          color: $valid-value-color;
        }

        dd {
          display: flex;
          align-items: center;
          gap: 4px;

          span {
            display: flex;
          }
        }

        a {
          color: $valid-value-color;
        }
      }
    }
  }

  &__extra {
    margin-top: 16px;

    &__links {
      font-size: 14px;
      color: $darker-text-color;
      margin: 0 -10px;
      padding-top: 16px;
      padding-bottom: 10px;

      a {
        display: inline-block;
        color: $darker-text-color;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: 500;

        strong {
          font-weight: 700;
          color: $primary-text-color;
        }
      }
    }
  }

  &__account-note {
    color: $primary-text-color;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;

    label {
      display: block;
      font-size: 12px;
      font-weight: 500;
      color: $darker-text-color;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    textarea {
      display: block;
      box-sizing: border-box;
      width: calc(100% + 20px);
      color: $secondary-text-color;
      background: transparent;
      padding: 10px;
      margin: 0 -10px;
      font-family: inherit;
      font-size: 14px;
      resize: none;
      border: 0;
      outline: 0;
      border-radius: 4px;

      &::placeholder {
        color: $dark-text-color;
        opacity: 1;
      }

      &:focus {
        background: $ui-base-color;
      }
    }
  }
}

.account__contents {
  overflow: hidden;

  // Polyam: This is used to display account bios properly in follow reqs in onboarding.
  > .account__note {
    margin-top: 0;
    -webkit-line-clamp: 2;
  }
}

.account__details {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
}

.verified-badge {
  display: inline-flex;
  align-items: center;
  color: $valid-value-color;
  gap: 4px;
  white-space: nowrap;

  > span {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
  }

  .icon {
    width: 13px;
    height: 13px;
  }
}

.hover-card-controller[data-popper-reference-hidden='true'] {
  opacity: 0;
  pointer-events: none;
}

.hover-card {
  box-shadow: var(--dropdown-shadow);
  background: var(--modal-background-color);
  backdrop-filter: var(--background-filter);
  border: 1px solid var(--modal-border-color);
  border-radius: 8px;
  padding: 16px;
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &--loading {
    position: relative;
    min-height: 100px;
  }

  &__name {
    display: flex;
    gap: 12px;
    text-decoration: none;
    color: inherit;
  }

  &__number {
    font-size: 15px;
    line-height: 22px;
    color: $secondary-text-color;

    strong {
      font-weight: 700;
    }
  }

  &__text-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__bio {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 2 * 20px;
    overflow: hidden;

    p {
      margin-bottom: 0;
    }

    a {
      color: inherit;
      text-decoration: underline;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }

  &__note {
    &-label {
      color: $dark-text-color;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }

    dd {
      white-space: pre-line;
      color: $secondary-text-color;
      overflow: hidden;
      line-clamp: 3; // Not yet supported in browsers
      display: -webkit-box; // The next 3 properties are needed
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .display-name {
    font-size: 15px;
    line-height: 22px;

    bdi {
      font-weight: 500;
      color: $primary-text-color;
    }

    &__account {
      display: block;
      color: $dark-text-color;
    }
  }

  .account-fields {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 20px;

    a {
      color: inherit;
      text-decoration: none;

      &:focus,
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }

    dl {
      display: flex;
      align-items: center;
      gap: 4px;

      dt {
        flex: 0 1 auto;
        color: $dark-text-color;
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      dd {
        flex: 1 1 auto;
        font-weight: 500;
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: end;
      }

      &.verified {
        dd {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 4px;
          overflow: hidden;
          white-space: nowrap;
          color: $valid-value-color;

          & > span {
            overflow: hidden;
            text-overflow: ellipsis;
          }

          a {
            font-weight: 500;
          }

          .icon {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}

// Polyam: Animation for anniversary-note
@keyframes fall {
  0% {
    transform: translateY(-220%) rotate(0);
  }

  100% {
    transform: translateY(220%) rotate(180deg);
  }
}

.no-reduce-motion {
  .fedimation {
    .fedi-logo {
      animation: fall 5s linear infinite;

      &:nth-child(even) {
        animation-delay: 2.5s;
      }
    }
  }
}

.fedimation {
  display: flex;
  justify-content: space-between;
  user-select: none;
  pointer-events: none;
  z-index: -1;
  width: 100%;
  height: 0;

  .fedi-logo {
    width: 18px;
    height: 18px;
    background-image: url('~flavours/polyam/images/fediverse.svg');
    background-size: contain;
    transform: translateY(-220%);
  }
}
