.link-button {
  display: block;
  font-size: 15px;
  line-height: 20px;
  color: $highlight-text-color;
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
  text-decoration: none;

  &--destructive {
    color: $error-value-color;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }

  &:disabled {
    color: $ui-primary-color;
    cursor: default;
  }
}

.button {
  background-color: $ui-button-background-color;
  border: 10px none;
  border-radius: 4px;
  box-sizing: border-box;
  color: $ui-button-color;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  overflow: hidden;
  padding: 7px 18px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;

  &:active,
  &:focus,
  &:hover {
    background-color: $ui-button-focus-background-color;
  }

  &:focus-visible {
    outline: $ui-button-icon-focus-outline;
  }

  &--destructive {
    &:active,
    &:focus,
    &:hover {
      background-color: $ui-button-destructive-focus-background-color;
      transition: none;
    }
  }

  &:disabled,
  &.disabled {
    background-color: $ui-primary-color;
    cursor: not-allowed;
  }

  &.copyable {
    transition: background 300ms linear;
  }

  &.copied {
    background: $valid-value-color;
    transition: none;
  }

  &.button-secondary {
    color: $highlight-text-color;
    background: transparent;
    padding: 6px 17px;
    border: 1px solid $highlight-text-color;

    &:active,
    &:focus,
    &:hover {
      border-color: lighten($highlight-text-color, 4%);
      color: lighten($highlight-text-color, 4%);
      background-color: transparent;
      text-decoration: none;
    }

    &.button--destructive {
      &:active,
      &:focus,
      &:hover {
        border-color: $ui-button-destructive-focus-background-color;
        color: $ui-button-destructive-focus-background-color;
      }
    }

    &:disabled,
    &.disabled {
      opacity: 0.7;
      border-color: $ui-primary-color;
      color: $ui-primary-color;

      &:active,
      &:focus,
      &:hover {
        border-color: $ui-primary-color;
        color: $ui-primary-color;
      }
    }
  }

  &.button-tertiary {
    background: transparent;
    padding: 6px 17px;
    color: $ui-button-tertiary-color;
    border: 1px solid $ui-button-tertiary-border-color;

    &:active,
    &:focus,
    &:hover {
      background-color: $ui-button-tertiary-focus-background-color;
      color: $ui-button-tertiary-focus-color;
      border: 0;
      padding: 7px 18px;
    }

    &:disabled {
      opacity: 0.5;
    }

    &.button--confirmation {
      color: $valid-value-color;
      border-color: $valid-value-color;

      &:active,
      &:focus,
      &:hover {
        background: $valid-value-color;
        color: $primary-text-color;
      }
    }

    &.button--destructive {
      color: $error-value-color;
      border-color: $error-value-color;

      &:active,
      &:focus,
      &:hover {
        background: $error-value-color;
        color: $primary-text-color;
      }
    }
  }

  &.button--block {
    width: 100%;
  }

  .icon {
    width: 15px;
    height: 15px;
  }
}

// Polyam: Kept padding as icons are smaller than upstream
.icon-button {
  display: inline-flex;
  color: $action-button-color;
  border: 0;
  padding: 2px;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 4px;
  flex: 0 0 auto;

  a {
    color: inherit;
    text-decoration: none;
  }

  &:hover,
  &:active,
  &:focus {
    color: lighten($action-button-color, 7%);
    background-color: rgba($action-button-color, 0.15);
  }

  &:focus-visible {
    outline: $ui-button-icon-focus-outline;
  }

  &.disabled {
    color: darken($action-button-color, 13%);
    background-color: transparent;
    cursor: default;
  }

  &.inverted {
    color: $lighter-text-color;

    &:hover,
    &:active,
    &:focus {
      color: darken($lighter-text-color, 7%);
      background-color: rgba($lighter-text-color, 0.15);
    }

    &:focus-visible {
      outline: $ui-button-icon-focus-outline;
    }

    &.disabled {
      color: lighten($lighter-text-color, 7%);
      background-color: transparent;
    }
  }

  &.active {
    color: $highlight-text-color;

    &:hover,
    &:active,
    &:focus {
      color: $highlight-text-color;
      background-color: transparent;
    }

    &.disabled {
      color: lighten($highlight-text-color, 13%);
    }
  }

  // Polyam: Added width/height to match button size with upstream
  &.overlayed {
    box-sizing: content-box;
    background: rgba($black, 0.65);
    backdrop-filter: blur(10px) saturate(180%) contrast(75%) brightness(70%);
    color: rgba($white, 0.7);
    border-radius: 4px;
    padding: 2px;
    width: 24px;
    height: 24px;

    &:hover {
      background: rgba($black, 0.9);
    }
  }

  &__counter {
    display: block;
    width: auto;
    font-size: 12px;
    font-weight: 500;
  }
}

.text-icon-button {
  color: $lighter-text-color;
  border: 0;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 11px;
  padding: 0 3px;
  line-height: 27px;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus {
    color: darken($lighter-text-color, 7%);
    background-color: rgba($lighter-text-color, 0.15);
  }

  &:focus-visible {
    outline: $ui-button-icon-focus-outline;
  }

  &.disabled {
    color: lighten($lighter-text-color, 20%);
    background-color: transparent;
    cursor: default;
  }

  &.active {
    color: $highlight-text-color;

    &:hover,
    &:active,
    &:focus {
      color: $highlight-text-color;
      background-color: transparent;
    }
  }
}

.icon-button.star-icon.active {
  color: $gold-star;
}

.icon-button.bookmark-icon.active {
  color: $red-bookmark;
}

.no-reduce-motion .icon-button.star-icon {
  &.activate {
    & > .icon-star {
      animation: spring-rotate-in 1s linear;
      transform-origin: 50% 52%;
    }
  }

  &.deactivate {
    & > .icon-star {
      animation: spring-rotate-out 1s linear;
      transform-origin: 50% 52%;
    }
  }
}

.text-btn {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: 0;
  background: transparent;
  cursor: pointer;

  .icon {
    width: 13px;
    height: 13px;
  }
}

.spoiler-button {
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;

  &--hidden {
    display: none;
  }

  &--click-thru {
    pointer-events: none;
  }

  &__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    color: $white;
    line-height: 20px;
    font-size: 14px;

    &__label {
      background-color: rgba($black, 0.45);
      backdrop-filter: blur(10px) saturate(180%) contrast(75%) brightness(70%);
      border-radius: 8px;
      padding: 12px 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      flex-direction: column;
      font-weight: 600;
    }

    &__action {
      font-weight: 400;
      font-size: 13px;
    }

    &:hover,
    &:focus {
      .spoiler-button__overlay__label {
        background-color: rgba($black, 0.9);
      }
    }
  }
}
