.autosuggest-textarea {
  &__textarea {
    background: transparent;
    min-height: 100px;
    padding-bottom: 0;
    resize: none;
    scrollbar-color: initial;

    &::-webkit-scrollbar {
      all: unset;
    }
  }

  &__suggestions {
    box-shadow: var(--dropdown-shadow);
    background: $ui-base-color;
    border: 1px solid var(--background-border-color);
    border-radius: 0 0 4px 4px;
    color: $secondary-text-color;
    font-size: 14px;
    padding: 0;

    &__item {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      height: 48px;
      cursor: pointer;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: $secondary-text-color;

      &:last-child {
        border-radius: 0 0 4px 4px;
      }

      &:hover,
      &:focus,
      &:active {
        background: var(--dropdown-border-color);

        .autosuggest-account .display-name__account {
          color: inherit;
        }
      }

      &.selected {
        background: $ui-highlight-color;
        color: $ui-button-color;

        .autosuggest-account .display-name__account {
          color: inherit;
        }
      }
    }
  }
}

.autosuggest-account,
.autosuggest-emoji,
.autosuggest-hashtag {
  flex: 1 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 8px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.autosuggest-account {
  .display-name {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
  }

  .display-name__account {
    display: block;
    line-height: 16px;
    font-size: 12px;
    color: $ui-primary-color;
  }
}

.autosuggest-hashtag {
  justify-content: space-between;

  &__name {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__uses {
    flex: 0 0 auto;
    text-align: end;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.autosuggest-emoji {
  &__name {
    flex: 1 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.autosuggest-account .account__avatar,
.autosuggest-emoji img {
  display: block;
  width: 24px;
  height: 24px;
  flex: 0 0 auto;
}

.compose-form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .layout-multiple-columns &,
  .column & {
    padding: 15px;
  }

  &__highlightable {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 0 1 auto;
    border-radius: 4px;
    border: 1px solid var(--background-border-color);
    transition: border-color 300ms linear;
    min-height: 0;
    position: relative;
    background: $ui-base-color;
    overflow-y: auto;

    &.active {
      transition: none;
      border-color: $ui-highlight-color;
    }
  }

  &__warning {
    color: $inverted-text-color;
    background: $ui-primary-color;
    box-shadow: 0 2px 6px rgba($base-shadow-color, 0.3);
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;

    strong {
      color: $inverted-text-color;
      font-weight: 500;

      @each $lang in $cjk-langs {
        &:lang(#{$lang}) {
          font-weight: 700;
        }
      }
    }

    a {
      color: $lighter-text-color;
      font-weight: 500;
      text-decoration: underline;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .spoiler-input {
    display: flex;
    align-items: stretch;

    &__border {
      // Polyam: Don't show stripes. Keep same as input
      background: rgba($ui-highlight-color, 0.05);
      width: 5px;
      flex: 0 0 auto;

      &:first-child {
        border-start-start-radius: 4px;
      }

      &:last-child {
        border-start-end-radius: 4px;
      }
    }

    .autosuggest-input {
      flex: 1 1 auto;
      border-bottom: 1px solid var(--background-border-color);
    }
  }

  .autosuggest-textarea__textarea,
  .spoiler-input__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    color: $secondary-text-color;
    background: $ui-base-color;
    font-family: inherit;
    font-size: 14px;
    padding: 12px;
    line-height: normal;
    border: 0;
    outline: 0;

    &:focus {
      outline: 0;
    }
  }

  .spoiler-input__input {
    padding: 12px 12px - 5px;
    background: rgba($ui-highlight-color, 0.05);
    color: $highlight-text-color;
  }

  &__dropdowns {
    display: flex;
    align-items: center;
    gap: 8px;

    & > div {
      overflow: hidden;
      display: flex;
    }
  }

  &__uploads {
    display: flex;
    gap: 8px;
    padding: 0 12px;
    flex-wrap: wrap;
    align-self: stretch;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
  }

  &__upload {
    flex: 1 1 0;
    min-width: calc(50% - 8px);

    &__actions {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 8px;
    }

    &__preview {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      z-index: -1;
      top: 0;
      inset-inline-start: 0;
    }

    &__thumbnail {
      width: 100%;
      height: 144px;
      border-radius: 6px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
    }

    .icon-button {
      flex: 0 0 auto;
      color: $white;
      background: rgba(0, 0, 0, 75%);
      border-radius: 6px;
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      padding: 4px 8px;
      font-family: inherit;

      .icon {
        width: 15px;
        height: 15px;
      }
    }

    // Polyam: Kept padding of 3px
    .icon-button.compose-form__upload__delete {
      padding: 3px;
      border-radius: 50%;

      // Polyam: Kept size at 18px
      .icon {
        width: 18px;
        height: 18px;
      }
    }

    &__warning {
      position: absolute;
      z-index: 2;
      bottom: 0;
      inset-inline-start: 0;
      inset-inline-end: 0;
      padding: 8px;

      .icon-button.active {
        color: #ffbe2e;
        background: rgba(0, 0, 0, 75%);
      }
    }
  }

  // glitch: reintroduce sensitive button
  &__sensitive-button {
    padding: 0 12px;

    input[type='checkbox'] {
      appearance: none;
      display: block;
      border: 1px solid $ui-primary-color;
      box-sizing: border-box;
      width: 17px;
      height: 17px;
      border-radius: 4px;
      flex: 0 0 auto;

      &:active,
      &:focus,
      &:hover {
        border-color: $highlight-text-color;
        border-width: 4px;
      }

      &:checked {
        background-color: $highlight-text-color;
        border-color: $highlight-text-color;
      }

      &::-moz-focus-inner {
        outline: 0 !important;
        border: 0;
      }

      &:focus,
      &:active {
        outline: 0 !important;
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    padding-top: 0;
  }

  &__submit {
    display: flex;
    flex: 1 0 100%; // glitch: always on its own line
    max-width: 100%;
    overflow: hidden;
    gap: 5px; // glitch: handle secondary post privacy
    align-items: stretch; // glitch: handle secondary post privacy

    .button.secondary-post-button {
      flex: 0 1 auto;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__buttons {
    display: flex;
    gap: 5px; // Polyam: Reduced gap to fit icons
    align-items: center;
    flex: 1 1 auto;

    & > div {
      display: flex;
    }

    // Polyam: Kept padding of 3px
    .icon-button {
      padding: 3px;
    }

    // Polyam: Kept size at 18px
    .icon-button .icon {
      width: 18px;
      height: 18px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    gap: 12px;
    flex-wrap: wrap;

    @include compose-action-button;

    .icon-button {
      box-sizing: content-box;
      color: $highlight-text-color;

      &:hover,
      &:focus,
      &:active {
        color: $highlight-text-color;
      }

      &.disabled {
        color: $highlight-text-color;
        opacity: 0.5;
      }

      &.active {
        background: $ui-highlight-color;
        color: $primary-text-color;
      }
    }
  }

  &__poll {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 8px;

    .poll__option {
      padding: 0 12px;
      gap: 8px;

      &.empty:not(:focus-within) {
        opacity: 0.5;
      }
    }

    .poll__input {
      width: 17px;
      height: 17px;
      border-color: $darker-text-color;
    }

    &__footer {
      display: flex;
      align-items: center;
      gap: 16px;
      padding-inline-start: 37px;
      padding-inline-end: 40px;

      &__sep {
        width: 1px;
        height: 22px;
        background: lighten($ui-base-color, 8%);
        flex: 0 0 auto;
      }
    }

    &__select {
      display: flex;
      flex-direction: column;
      gap: 2px;
      flex: 1 1 auto;
      min-width: 0;

      &__label {
        flex: 0 0 auto;
        font-size: 11px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.5px;
        color: $darker-text-color;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &__value {
        flex: 0 0 auto;
        appearance: none;
        background: transparent;
        border: none;
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: $highlight-text-color;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.character-counter {
  cursor: default;
  font-family: $font-sans-serif, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: $darker-text-color;
  flex: 1 0 auto;
  text-align: end;

  &.character-counter--over {
    color: $error-red;
  }
}

.no-reduce-motion .spoiler-input {
  transition:
    height 0.4s ease,
    opacity 0.4s ease;
}

// Polyam: Split out from .status__content, .edit-indicator__content, .reply-indicator__content upstream
.edit-indicator__content,
.reply-indicator__content {
  @include status-content;
}

.reply-indicator {
  display: grid;
  grid-template-columns: 46px minmax(0, 1fr);
  grid-template-rows: 46px max-content;
  gap: 0 10px;

  .detailed-status__display-name {
    margin-bottom: 4px;
  }

  .detailed-status__display-avatar {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 1;
  }

  &__main {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .display-name {
    font-size: 14px;
    line-height: 16px;

    &__account {
      display: none;
    }
  }

  &__line {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    position: relative;

    &::before {
      display: block;
      content: '';
      position: absolute;
      inset-inline-start: 50%;
      top: 4px;
      transform: translateX(-50%);
      background: lighten($ui-base-color, 8%);
      width: 2px;
      height: calc(100% + 32px - 8px); // Account for gap to next element
    }
  }

  &__content {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding: 0;
    max-height: 4 * 20px;
    overflow: hidden;
    color: $darker-text-color;
  }

  &__attachments {
    margin-top: 4px;
    color: $darker-text-color;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 4px;

    .icon {
      width: 18px;
      height: 18px;
    }
  }
}

.edit-indicator {
  border-radius: 4px 4px 0 0;
  background: lighten($ui-base-color, 4%);
  padding: 12px;
  overflow-y: auto;
  flex: 0 0 auto;
  border-bottom: 0.5px solid lighten($ui-base-color, 8%);
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $darker-text-color;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__cancel {
    display: flex;

    .icon {
      width: 18px;
      height: 18px;
    }
  }

  &__display-name {
    display: flex;
    gap: 4px;

    a {
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }

  &__content {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    padding-top: 0 !important;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 4 * 20px;
    overflow: hidden;

    a {
      color: $highlight-text-color;
    }
  }

  &__attachments {
    color: $darker-text-color;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.75;
    display: flex;
    align-items: center;
    gap: 4px;

    .icon {
      width: 18px;
      height: 18px;
    }
  }
}

.edit-indicator__content,
.reply-indicator__content {
  .emojione {
    width: 18px;
    height: 18px;
    margin: -3px 0 0;
  }
}

.upload-progress {
  color: $darker-text-color;
  overflow: hidden;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0 12px;

  .icon {
    width: 18px;
    height: 18px;
    color: $ui-highlight-color;
  }

  span {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
  }
}

.upload-progress__message {
  flex: 1 1 auto;
}

.upload-progress__backdrop {
  width: 100%;
  height: 6px;
  border-radius: 6px;
  background: var(--background-color);
  position: relative;
  margin-top: 5px;
}

.upload-progress__tracker {
  position: absolute;
  inset-inline-start: 0;
  top: 0;
  height: 6px;
  background: $ui-highlight-color;
  border-radius: 6px;
}

.privacy-dropdown__dropdown,
.language-dropdown__dropdown {
  box-shadow: var(--dropdown-shadow);
  background: var(--dropdown-background-color);
  backdrop-filter: var(--background-filter);
  border: 1px solid var(--dropdown-border-color);
  padding: 4px;
  border-radius: 4px;
  overflow: hidden;
  z-index: 2;
  width: 300px;

  &.top {
    transform-origin: 50% 100%;
  }

  &.bottom {
    transform-origin: 50% 0;
  }
}

.privacy-dropdown__option {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  color: $primary-text-color;

  &:hover,
  &:active {
    background: var(--dropdown-border-color);
  }

  &:focus,
  &.active {
    background: $ui-highlight-color;
    color: $primary-text-color;
    outline: 0;

    .privacy-dropdown__option__content,
    .privacy-dropdown__option__content strong,
    .privacy-dropdown__option__additional {
      color: $primary-text-color;
    }
  }

  &__additional {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $darker-text-color;
    cursor: help;
  }
}

.privacy-dropdown__option__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.privacy-dropdown__option__content {
  flex: 1 1 auto;
  color: $darker-text-color;

  strong {
    color: $primary-text-color;
    font-weight: 500;
    display: block;

    @each $lang in $cjk-langs {
      &:lang(#{$lang}) {
        font-weight: 700;
      }
    }
  }
}

.language-dropdown {
  &__dropdown {
    padding: 0;

    .emoji-mart-search {
      padding: 10px;
      background: var(--dropdown-background-color);

      input {
        padding: 8px 12px;
        background: $ui-base-color;
        border: 1px solid var(--background-border-color);
        color: $darker-text-color;

        @media screen and (width <= 600px) {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.5px;
        }
      }
    }

    .emoji-mart-search-icon {
      inset-inline-end: 15px;
      opacity: 1;
      color: $darker-text-color;

      .icon {
        width: 18px;
        height: 18px;
      }

      &:disabled {
        opacity: 0.38;
      }
    }

    .emoji-mart-scroll {
      padding: 0 10px 10px;
      background: var(--dropdown-background-color);
    }

    &__results {
      &__item {
        cursor: pointer;
        color: $primary-text-color;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        font-weight: 500;
        padding: 8px 12px;
        border-radius: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &__common-name {
          color: $darker-text-color;
          font-weight: 400;
        }

        &:active,
        &:hover {
          background: var(--dropdown-border-color);
        }

        &:focus,
        &.active {
          background: $ui-highlight-color;
          color: $primary-text-color;
          outline: 0;

          .language-dropdown__dropdown__results__item__common-name {
            color: $primary-text-color;
          }
        }
      }
    }
  }
}
