@use '../variables' as *;

.domain {
  padding: 16px;
  border-bottom: 1px solid var(--background-border-color);
  display: flex;
  align-items: center;
  gap: 8px;

  &__domain-name {
    flex: 1 1 auto;
    color: $primary-text-color;
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
  }
}
