@use '../variables' as *;

.featured-carousel {
  overflow: hidden;
  flex-shrink: 0;
  border-bottom: 1px solid var(--background-border-color);
  touch-action: pan-y;

  &__slides {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
  }

  &__slide {
    flex: 0 0 auto;
    flex-basis: 100%;
    width: 100%;
    overflow: hidden;
  }

  .status {
    border-bottom: 0;

    // glitch-soc fix for width-constrained
    contain: inline-size;
  }

  &__header {
    padding: 8px 16px;
    color: $darker-text-color;
    inset-inline-end: 0;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__title {
    flex-grow: 1;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 4px;

    // Polyam: Different icon size
    .icon {
      width: 13px;
      height: 13px;
    }
  }
}
