@use '../variables' as *;
@use '../functions' as *;

.load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $dark-text-color;
  background-color: transparent;
  border: 0;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  text-decoration: none;

  &:hover {
    background: var(--on-surface-color);
  }

  .icon {
    width: 22px;
    height: 22px;
  }
}

.load-gap {
  border-bottom: 1px solid var(--background-border-color);
}

.loading-indicator {
  color: $dark-text-color;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  overflow: visible;
  position: absolute;
  top: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more .loading-indicator,
.button .loading-indicator,
.icon-button .loading-indicator {
  position: static;
  transform: none;
  color: inherit;

  .circular-progress {
    color: inherit;
    width: 22px;
    height: 22px;
  }
}

.button--compact .loading-indicator .circular-progress {
  width: 17px;
  height: 17px;
}

.icon-button .loading-indicator .circular-progress {
  color: lighten($ui-base-color, 26%);
  width: 12px;
  height: 12px;
  margin: 6px;
}

.load-more .loading-indicator .circular-progress {
  color: lighten($ui-base-color, 26%);
}

.loading-bar {
  background-color: $highlight-text-color;
  height: 3px;
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  z-index: 9999;
}
