.video-error-cover {
  align-items: center;
  background: $base-overlay-background;
  color: $primary-text-color;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: 8px;
  position: relative;
  text-align: center;
  z-index: 100;
}

.media-gallery__actions {
  position: absolute;
  top: 6px;
  inset-inline-end: 6px;
  display: flex;
  gap: 2px;
  z-index: 2;

  &__pill {
    display: block;
    color: $white;
    border: 0;
    background: rgba($black, 0.65);
    backdrop-filter: blur(10px) saturate(100%) contrast(75%) brightness(70%);
    padding: 3px 12px;
    border-radius: 99px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
}

.media-gallery__item__badges {
  position: absolute;
  bottom: 8px;
  inset-inline-end: 8px;
  display: flex;
  gap: 2px;
}

.media-gallery__alt__label,
.media-gallery__gifv__label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  background: rgba($black, 0.65);
  backdrop-filter: blur(10px) saturate(180%) contrast(75%) brightness(70%);
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  z-index: 1;
  pointer-events: none;
  line-height: 20px;
}

// Polyam: Override because this is a button
.media-gallery__alt__label {
  pointer-events: auto;
  border: 0;

  &:hover,
  &:focus {
    background-color: rgba($black, 0.9);
  }
}

.media-gallery {
  box-sizing: border-box;
  margin-top: 8px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  width: 100%;
  min-height: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;

  &--layout-2 {
    & > .media-gallery__item:nth-child(1) {
      border-end-end-radius: 0;
      border-start-end-radius: 0;
    }

    & > .media-gallery__item:nth-child(2) {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }
  }

  &--layout-3 {
    & > .media-gallery__item:nth-child(1) {
      border-end-end-radius: 0;
      border-start-end-radius: 0;
    }

    & > .media-gallery__item:nth-child(2) {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }

    & > .media-gallery__item:nth-child(3) {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      border-start-end-radius: 0;
    }
  }

  &--layout-4 {
    & > .media-gallery__item:nth-child(1) {
      border-end-end-radius: 0;
      border-start-end-radius: 0;
      border-end-start-radius: 0;
    }

    & > .media-gallery__item:nth-child(2) {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }

    & > .media-gallery__item:nth-child(3) {
      border-start-start-radius: 0;
      border-start-end-radius: 0;
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }

    & > .media-gallery__item:nth-child(4) {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      border-start-end-radius: 0;
    }
  }

  @include fullwidth-gallery;
}

.media-gallery__item {
  border: 0;
  box-sizing: border-box;
  display: block;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  outline: 1px solid var(--media-outline-color);
  outline-offset: -1px;
  z-index: 1;

  &--tall {
    grid-row: span 2;
  }

  &--wide {
    grid-column: span 2;
  }

  .full-width & {
    border-radius: 0;
  }

  &.letterbox {
    background: $base-shadow-color;
  }

  &--square {
    aspect-ratio: 1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    pointer-events: none;
    padding: 8px;
    z-index: 1;

    &--corner {
      align-items: flex-start;
      justify-content: flex-end;
    }

    .icon {
      color: $white;
      filter: var(--overlay-icon-shadow);
    }
  }
}

.media-gallery__item-thumbnail {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: $secondary-text-color;
  position: relative;
  z-index: -1;

  &,
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;

    &:not(.letterbox) {
      height: 100%;
      object-fit: cover;
    }
  }
}

.media-gallery__preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  z-index: -2;
  background: $base-overlay-background;

  &--hidden {
    display: none;
  }
}

.media-gallery__gifv {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: -1;
}

.media-gallery__item-gifv-thumbnail {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: contain;
  user-select: none;

  &:not(.letterbox) {
    height: 100%;
    object-fit: cover;
  }
}

.detailed,
.fullscreen {
  .video-player__volume__current,
  .video-player__volume::before {
    bottom: 27px;
  }

  .video-player__volume__handle {
    bottom: 23px;
  }
}

.audio-player {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  background: var(--background-color);
  border-radius: 8px;
  padding-bottom: 44px;
  width: 100%;
  outline: 1px solid var(--media-outline-color);
  outline-offset: -1px;

  &.editable {
    border-radius: 0;
    height: 100%;
  }

  &.inactive {
    audio,
    .video-player__controls {
      visibility: hidden;
    }
  }

  .video-player__volume::before,
  .video-player__seek::before {
    background: currentColor;
    opacity: 0.15;
  }

  .video-player__seek__buffer {
    background: currentColor;
    opacity: 0.2;
  }

  .video-player__buttons button,
  .video-player__buttons a {
    color: currentColor;
    opacity: 0.75;

    &:active,
    &:hover,
    &:focus {
      color: currentColor;
      opacity: 1;
    }
  }

  .video-player__time-sep,
  .video-player__time-total,
  .video-player__time-current {
    color: currentColor;
  }

  .video-player__seek::before,
  .video-player__seek__buffer,
  .video-player__seek__progress {
    top: 0;
  }

  .video-player__seek__handle {
    top: -4px;
  }

  .video-player__controls {
    padding-top: 10px;
    background: transparent;
    z-index: 1;
  }
}

.video-player {
  overflow: hidden;
  position: relative;
  background: $base-shadow-color;
  max-width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  color: $white;
  display: flex;
  align-items: center;
  outline: 1px solid var(--media-outline-color);
  outline-offset: -1px;
  z-index: 2;

  &.editable {
    border-radius: 0;
    height: 100% !important;
  }

  .detailed-status & {
    width: 100%;
    height: 100%;
  }

  @include fullwidth-gallery;

  video {
    display: block;
    max-width: 100vw;
    max-height: 80vh;
    z-index: -2;
    position: relative;
  }

  &.fullscreen {
    width: 100% !important;
    height: 100% !important;
    margin: 0;

    video {
      max-width: 100% !important;
      max-height: 100% !important;
      width: 100% !important;
      height: 100% !important;
      outline: 0;
    }
  }

  &.inline {
    video {
      object-fit: contain;
    }
  }

  &__controls {
    position: absolute;
    direction: ltr;
    z-index: -1;
    bottom: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    box-sizing: border-box;
    background: linear-gradient(
      0deg,
      rgba($base-shadow-color, 0.85) 0,
      rgba($base-shadow-color, 0.45) 60%,
      transparent
    );
    padding: 0 15px;
    opacity: 0;
    transition: opacity 0.1s ease;

    &.active {
      opacity: 1;
    }
  }

  &.inactive {
    video,
    .video-player__controls {
      visibility: hidden;
    }
  }

  &__spoiler {
    display: none;
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    border: 0;
    background: $base-overlay-background;
    color: $darker-text-color;
    transition: none;
    pointer-events: none;

    &.active {
      display: block;
      pointer-events: auto;

      &:hover,
      &:active,
      &:focus {
        color: lighten($darker-text-color, 7%);
      }
    }

    &__title {
      display: block;
      font-size: 14px;
    }

    &__subtitle {
      display: block;
      font-size: 11px;
      font-weight: 500;
    }
  }

  &__buttons-bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    margin: 0 -5px;

    .video-player__download__icon {
      color: inherit;

      // Polyam: Fix for wrong icon color
      .icon,
      &:active .icon,
      &:hover .icon,
      &:focus .icon {
        color: inherit;
      }
    }
  }

  // Polyam: Kept font-size here and in .player-button as otherwise current icons too small
  &__buttons {
    display: flex;
    flex: 0 1 auto;
    min-width: 30px;
    align-items: center;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 5px;

    .player-button {
      display: inline-block;
      outline: 0;
      padding: 5px;
      flex: 0 0 auto;
      background: transparent;
      font-size: 16px;
      border: 0;
      color: rgba($white, 0.75);

      &:active,
      &:hover,
      &:focus {
        color: $white;
      }
    }

    // Polyam: Alt button
    .alt-button {
      font-size: 14px;
    }
  }

  &__time {
    display: inline;
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 5px;
  }

  &__time-sep,
  &__time-total,
  &__time-current {
    font-size: 14px;
    font-weight: 500;
  }

  &__time-current {
    color: $white;
  }

  &__time-sep {
    display: inline-block;
    margin: 0 6px;
  }

  &__time-sep,
  &__time-total {
    color: $white;
  }

  &__volume {
    flex: 0 0 auto;
    display: inline-flex;
    cursor: pointer;
    height: 24px;
    position: relative;
    overflow: hidden;

    .no-reduce-motion & {
      transition: all 100ms linear;
    }

    &.active {
      overflow: visible;
      width: 50px;
      margin-inline-end: 16px;
    }

    &::before {
      content: '';
      width: 50px;
      background: rgba($white, 0.35);
      border-radius: 4px;
      display: block;
      position: absolute;
      height: 4px;
      inset-inline-start: 0;
      top: 50%;
      transform: translate(0, -50%);
    }

    &__current {
      display: block;
      position: absolute;
      height: 4px;
      border-radius: 4px;
      inset-inline-start: 0;
      top: 50%;
      transform: translate(0, -50%);
      background: lighten($ui-highlight-color, 8%);
    }

    &__handle {
      position: absolute;
      z-index: 3;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      top: 50%;
      inset-inline-start: 0;
      margin-inline-start: -6px;
      transform: translate(0, -50%);
      background: lighten($ui-highlight-color, 8%);
      box-shadow: 1px 2px 6px rgba($base-shadow-color, 0.2);
      opacity: 0;

      .no-reduce-motion & {
        transition: opacity 100ms linear;
      }
    }

    &.active &__handle {
      opacity: 1;
    }
  }

  &__link {
    padding: 2px 10px;

    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      color: $white;

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__seek {
    cursor: pointer;
    height: 24px;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      background: rgba($white, 0.35);
      border-radius: 4px;
      display: block;
      position: absolute;
      height: 4px;
      top: 14px;
    }

    &__progress,
    &__buffer {
      display: block;
      position: absolute;
      height: 4px;
      border-radius: 4px;
      top: 14px;
      background: lighten($ui-highlight-color, 8%);
    }

    &__buffer {
      background: rgba($white, 0.2);
    }

    &__handle {
      position: absolute;
      z-index: 3;
      opacity: 0;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      top: 10px;
      margin-inline-start: -6px;
      background: lighten($ui-highlight-color, 8%);
      box-shadow: 1px 2px 6px rgba($base-shadow-color, 0.2);

      .no-reduce-motion & {
        transition: opacity 0.1s ease;
      }

      &.active {
        opacity: 1;
      }
    }

    &:hover {
      .video-player__seek__handle {
        opacity: 1;
      }
    }
  }

  &.detailed,
  &.fullscreen {
    .video-player__buttons {
      .player-button {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

.gifv {
  video {
    max-width: 100vw;
    max-height: 80vh;
  }
}
