.notification__message-collapse-button {
  text-align: end;
  flex-grow: 2;

  // Polyam: Different size, because smaller for polyam-glitch
  .status__collapse-button .icon {
    width: 16px;
    height: 16px;
  }
}

.notification__relative_time {
  color: $dark-text-color;
  float: right;
  font-size: 14px;
  padding-bottom: 1px;
}

.notification__report {
  padding: 10px; // glitch: reduced padding
  border-bottom: 1px solid var(--background-border-color);
  display: flex;
  gap: 10px;

  &__avatar {
    flex: 0 0 auto;
  }

  &__details {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $darker-text-color;
    gap: 10px;
    font-size: 15px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;

    & > div {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    strong {
      font-weight: 500;
    }
  }

  &__actions {
    flex: 0 0 auto;
  }
}

.notification-group--link {
  color: $secondary-text-color;
  text-decoration: none;

  .notification-group__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-grow: 1;
    font-size: 15px;
    line-height: 22px;

    strong,
    bdi {
      font-weight: 700;
    }

    .link-button {
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
    }
  }
}

.notification__message {
  padding: 8px 14px; // glitch: reduced padding
  padding-bottom: 0;
  cursor: default;
  color: $darker-text-color;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;

  .icon {
    color: $highlight-text-color;
    width: 18px;
    height: 18px;
  }

  .icon-star {
    color: $gold-star;
  }

  > span {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.notification__display-name {
  color: inherit;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// .notification, .status (Moved to status.scss)

.notification__dismiss-overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  bottom: -1px;
  padding-inline-start: 15px; // space for the box shadow to be visible
  z-index: 999;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  display: flex;

  .wrappy {
    width: $dismiss-overlay-width;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: lighten($ui-base-color, 8%);
    border-inline-start: 1px solid lighten($ui-base-color, 20%);
    box-shadow: 0 0 5px black;
    border-bottom: 1px solid $ui-base-color;
  }

  .ckbox {
    border: 2px solid $ui-primary-color;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: $darker-text-color;
    text-shadow: 0 0 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:focus {
    outline: 0 !important;

    .ckbox {
      box-shadow: 0 0 1px 1px $ui-highlight-color;
    }
  }
}

.notif-cleaning {
  .status,
  .notification {
    padding-inline-end: ($dismiss-overlay-width + 0.5rem);
  }
}

// Polyam: Split from .notification__filter-bar, .account__section-headline
.notification__filter-bar {
  @include filter-bar;
}

// Polyam: Split from .notification, .status__wrapper
.notification {
  @include notification-status-wrapper;
}

// .notifications-permission-banner (Moved to columns.scss)

// Toast

.notification-list {
  position: fixed;
  bottom: 2rem;
  inset-inline-start: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.notification-bar {
  flex: 0 0 auto;
  position: relative;
  inset-inline-start: -100%;
  width: auto;
  padding: 15px;
  margin: 0;
  color: $white;
  background: rgba($black, 0.85);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(lighten($classic-base-color, 4%), 0.85);
  border-radius: 8px;
  box-shadow:
    0 10px 15px -3px rgba($base-shadow-color, 0.25),
    0 4px 6px -4px rgba($base-shadow-color, 0.25);
  cursor: default;
  font-size: 15px;
  line-height: 21px;

  &.notification-bar-active {
    inset-inline-start: 1rem;
  }

  .no-reduce-motion & {
    transition: 0.5s cubic-bezier(0.89, 0.01, 0.5, 1.1);
    transform: translateZ(0);
  }
}

.notification-bar-title {
  margin-inline-end: 5px;
}

.notification-bar-title,
.notification-bar-action {
  font-weight: 700;
}

.notification-bar-action {
  text-transform: uppercase;
  margin-inline-start: 10px;
  cursor: pointer;
  color: $blurple-300;
  border-radius: 4px;
  padding: 0 4px;

  &:hover,
  &:focus,
  &:active {
    background: rgba($ui-base-color, 0.85);
  }
}

.notification-group {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 10px 14px; // glitch: reduced padding
  border-bottom: 1px solid var(--background-border-color);

  &__icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    color: $dark-text-color;

    // Polyam: reduced icon size
    .icon {
      width: 24px;
      height: 24px;
    }
  }

  &--follow &__icon,
  &--follow-request &__icon {
    color: $highlight-text-color;
  }

  &--favourite &__icon {
    color: $gold-star;
  }

  &--reblog &__icon {
    color: $valid-value-color;
  }

  &--relationships-severance-event &__icon,
  &--admin-report &__icon,
  &--admin-sign-up &__icon,
  &--admin-report-note &__icon {
    color: $dark-text-color;
  }

  &--moderation-warning &__icon {
    color: $red-bookmark;
  }

  &--follow-request &__actions {
    align-items: center;
    display: flex;
    gap: 8px;

    .icon-button {
      border: 1px solid var(--background-border-color);
      border-radius: 50%;
      padding: 1px;

      // Polyam: Match upstream's button size
      .icon {
        padding: 3px;
      }
    }
  }

  // Polyam: Style for icon buttons
  &--follow &__actions {
    @include follow-unfollow-icons;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 auto;
    overflow: hidden;
    container-type: inline-size;

    // Polyam: Removed @container here as timestamps should remain visible

    &__header {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%; // Polyam: Consistent timestamp in report/report-note

      &__wrapper {
        display: flex;
        justify-content: space-between;
      }

      &__label {
        display: flex;
        gap: 8px;
        font-size: 15px;
        line-height: 22px;
        color: $darker-text-color;
        justify-content: space-between; // Polyam: Consistent timestamps

        a {
          color: inherit;
          text-decoration: none;
        }

        bdi {
          font-weight: 700;
          color: $primary-text-color;
        }

        time {
          color: $dark-text-color;
        }
      }
    }

    &__status {
      border: 1px solid var(--background-border-color);
      border-radius: 8px;
      padding: 8px;
    }

    &__additional-content {
      color: $darker-text-color;
      margin-top: -8px; // to offset the parent's `gap` property
    }
  }

  &__avatar-group {
    display: flex;
    gap: 8px;
    height: 28px;
    overflow-y: hidden;
    flex-wrap: wrap;
  }

  .status {
    padding: 0;
    border: 0;
  }

  &__embedded-status {
    cursor: pointer;

    &__account {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-bottom: 8px;
      color: $dark-text-color;

      bdi {
        color: inherit;
      }
    }

    .account__avatar {
      opacity: 0.5;
    }

    &__content {
      display: -webkit-box;
      font-size: 15px;
      line-height: 22px;
      color: $dark-text-color;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      max-height: 4 * 22px;
      overflow: hidden;

      p,
      a {
        color: inherit;
      }
    }
  }
}

.notification-ungrouped {
  padding: 16px 14px; // glitch: reduced padding
  border-bottom: 1px solid var(--background-border-color);

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $dark-text-color;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    padding-inline-start: 24px;
    margin-bottom: 16px;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;

      .icon {
        width: 16px;
        height: 16px;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .status {
    border: 0;
    padding: 0;

    &__avatar {
      width: 40px;
      height: 40px;
    }
  }

  .status__wrapper-direct {
    background: transparent;
  }

  $icon-margin: 48px; // 40px avatar + 8px gap

  // Polyam: Removed margin and restricted width of elements here

  .more-from-author {
    width: calc(100% - $icon-margin + 2px);
  }

  .status__content__read-more-button {
    margin-inline-start: $icon-margin;
  }

  .notification__report {
    border: 0;
    padding: 0;
  }
}

.notification-group--unread,
.notification-ungrouped--unread {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    border-inline-start: 4px solid $highlight-text-color;
    pointer-events: none;
  }
}
