.notification__relative_time {
  color: $dark-text-color;
  float: right;
  font-size: 14px;
  padding-bottom: 1px;
}

.notification__favourite-icon-wrapper {
  inset-inline-start: 0;
  position: absolute;

  // Polyam: Kept from upstream -- upstreams change on how icon is colored didn't work
  .icon.star-icon {
    color: $gold-star;
  }

  // Polyam: Makes reblog icon a bit larger in notifications as it's not square
  .icon.icon-retweet {
    width: 17px;
  }
}

.notification__report {
  padding: 8px 10px;
  padding-inline-start: 68px;
  position: relative;
  border-bottom: 1px solid lighten($ui-base-color, 8%);
  min-height: 54px;

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $darker-text-color;
    font-size: 15px;
    line-height: 22px;

    strong {
      font-weight: 500;
    }
  }

  &__avatar {
    position: absolute;
    inset-inline-start: 10px;
    top: 10px;
  }
}

.notification__message {
  margin-inline-start: 42px;
  padding-top: 8px;
  padding-inline-start: 26px;
  cursor: default;
  color: $darker-text-color;
  font-size: 15px;
  position: relative;
  align-items: center;

  .icon {
    color: $highlight-text-color;
    width: 18px;
    height: 18px;
  }

  .icon-star {
    color: $gold-star;
  }

  > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.notification__display-name {
  color: inherit;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: $primary-text-color;
    text-decoration: underline;
  }
}

// .notification, .status (Moved to status.scss)

.notification__dismiss-overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  bottom: -1px;
  padding-inline-start: 15px; // space for the box shadow to be visible
  z-index: 999;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  display: flex;

  .wrappy {
    width: $dismiss-overlay-width;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: lighten($ui-base-color, 8%);
    border-inline-start: 1px solid lighten($ui-base-color, 20%);
    box-shadow: 0 0 5px black;
    border-bottom: 1px solid $ui-base-color;
  }

  .ckbox {
    border: 2px solid $ui-primary-color;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: $darker-text-color;
    text-shadow: 0 0 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:focus {
    outline: 0 !important;

    .ckbox {
      box-shadow: 0 0 1px 1px $ui-highlight-color;
    }
  }
}

.notif-cleaning {
  .status,
  .notification {
    padding-inline-end: ($dismiss-overlay-width + 0.5rem);
  }
}

.notification-follow,
.notification-follow-request {
  position: relative;

  // same like Status
  border-bottom: 1px solid lighten($ui-base-color, 8%);

  .account {
    border-bottom: 0 none;
  }
}

.notification-favourite {
  .status.status-direct {
    background: transparent;

    .icon-button.disabled {
      color: lighten($action-button-color, 13%);
    }
  }
}

// .notification__filter-bar, .account__section-headline (Moved to account.scss)

// .notification, status (duplicate upstream, Merged with same class in status.scss)

// .notifications-permission-banner (Moved to columns.scss)
