@use '../variables' as *;

$ui-header-height: 55px;

@media screen and (width > $mobile-breakpoint) {
  .columns-area {
    padding: 0;
  }

  .column,
  .drawer {
    flex: 0 0 auto;
    padding: 10px;
    padding-inline-start: 5px;
    padding-inline-end: 5px;

    &:first-child {
      padding-inline-start: 10px;
    }

    &:last-child {
      padding-inline-end: 10px;
    }
  }

  .columns-area > div {
    .column,
    .drawer {
      padding-inline-start: 5px;
      padding-inline-end: 5px;
    }
  }
}

.columns-area--mobile {
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  .column,
  .drawer {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .account-card {
    margin-bottom: 0;
  }

  .filter-form {
    display: flex;
    flex-wrap: wrap;
  }

  .autosuggest-textarea__textarea {
    font-size: 16px;
  }

  .search__input {
    line-height: 18px;
    font-size: 16px;
    padding: 15px;
    padding-inline-end: 30px;
  }

  .scrollable {
    overflow: visible;

    @supports (display: grid) {
      contain: content;
    }
  }

  @media screen and (min-width: $no-gap-breakpoint) {
    padding: 10px 0;
    padding-top: 0;
  }
}

@media screen and (min-width: $no-gap-breakpoint) {
  .react-swipeable-view-container .columns-area--mobile {
    height: calc(100% - 10px) !important;
  }

  .getting-started__wrapper {
    margin-bottom: 10px;
  }

  .search-page .search {
    display: none;
  }

  .navigation-panel__legal,
  .navigation-panel__compose-button,
  .navigation-panel .navigation-bar {
    display: none !important;
  }
}

@media screen and (max-width: ($no-gap-breakpoint - 1px)) {
  $sidebar-width: 285px;

  .columns-area__panels__main {
    width: calc(100% - $sidebar-width);
  }

  .columns-area__panels {
    min-height: 100vh;
    gap: 0;
  }

  .columns-area__panels__pane--navigational {
    min-width: $sidebar-width;

    .columns-area__panels__pane__inner {
      width: $sidebar-width;
    }

    .navigation-panel {
      margin: 0;
      border-inline-start: 1px solid var(--background-border-color);
      height: 100vh;
    }

    .navigation-panel__banner,
    .navigation-panel__logo,
    .getting-started__trends {
      display: none;
    }
  }

  .layout-single-column {
    .column > .scrollable,
    .tabs-bar__wrapper .column-header,
    .tabs-bar__wrapper .column-back-button,
    .explore__search-header,
    .column-search-header {
      border-left: 0;
      border-right: 0;
    }

    .column-header,
    .column-back-button,
    .scrollable,
    .error-column {
      border-radius: 0 !important;
    }

    .column-header,
    .column-back-button {
      border-top: 0;
    }
  }
}

@media screen and (width <= 759px) {
  .columns-area__panels__main {
    width: 100%;
  }

  .columns-area__panels__pane--navigational {
    position: fixed;
    inset-inline-end: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .columns-area__panels__pane--navigational .columns-area__panels__pane__inner {
    pointer-events: auto;
    background: var(--background-color);
    position: fixed;
    width: 284px + 70px;
    inset-inline-end: -70px;
    touch-action: pan-y;

    .navigation-panel {
      width: 284px;
      overflow-y: auto;

      &__menu {
        flex-shrink: 0;
        min-height: none;
        overflow: hidden;
        padding-bottom: calc(65px + env(safe-area-inset-bottom));
      }

      &__logo {
        display: none;
      }
    }
  }
}

.columns-area__panels__pane--navigational {
  transition: background 500ms;
}

.columns-area__panels__pane--overlay {
  pointer-events: auto;
  background: rgba($base-overlay-background, 0.5);

  .columns-area__panels__pane__inner {
    box-shadow: var(--dropdown-shadow);
  }
}

@media screen and (width >= 760px) {
  .ui__navigation-bar {
    display: none;
  }
}

@media screen and (max-width: ($no-gap-breakpoint - 1px)) {
  .columns-area__panels__pane--compositional {
    display: none;
  }
}

.compose-panel {
  width: 285px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  overflow-y: hidden;

  .compose-form {
    flex: 1 1 auto;
    min-height: 0;
  }
}

.navigation-panel {
  margin-top: 10px;
  margin-bottom: 10px;
  height: calc(100% - 20px);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__menu {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
  }

  &__list-panel {
    &__header {
      display: flex;
      align-items: center;
      padding-inline-end: 4px;

      &__sep {
        width: 0;
        height: 24px;
        border-left: 1px solid var(--background-border-color);
      }

      .column-link {
        flex: 1 1 auto;
      }

      .icon-button {
        padding: 8px;
      }
    }

    &__items {
      padding-inline-start: 24px + 8px;

      .icon {
        display: none;
      }
    }
  }

  &__compose-button {
    display: flex;
    justify-content: flex-start;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 12px - 7px;
    padding-inline-end: 12px;
    gap: 8px;
    margin: 12px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  .navigation-bar {
    padding: 16px;
  }

  .search {
    margin: 16px;
    margin-bottom: 12px;
  }

  .logo {
    height: 30px;
    width: auto;
  }

  &__logo {
    margin-bottom: 12px;
  }

  .getting-started__trends h4 {
    padding: 10px 12px;
    padding-inline-start: 16px;
  }

  .getting-started__trends .trends__item {
    padding: 10px 12px;
    padding-inline-start: 16px;
  }

  @media screen and (height <= 930px) {
    &__portal .trends__item:nth-child(n + 5) {
      display: none;
    }
  }

  @media screen and (height <= (930px - 56px)) {
    &__portal .trends__item:nth-child(n + 4) {
      display: none;
    }
  }

  @media screen and (height <= (930px - 56px * 2)) {
    &__portal .trends__item:nth-child(n + 3) {
      display: none;
    }
  }

  @media screen and (height <= (930px - 56px * 3)) {
    &__portal {
      display: none;
    }
  }
}

.navigation-panel,
.compose-panel {
  hr {
    flex: 0 0 auto;
    border: 0;
    background: transparent;
    border-top: 1px solid var(--background-border-color);
    margin: 10px 0;
  }

  .flex-spacer {
    background: transparent;
  }
}
