.status__content--with-action {
  cursor: pointer;
}

.status__content {
  clear: both;
}

// Polyam: Split out from .status__content, .edit-indicator__content, .reply-indicator__content upstream
.status__content {
  @include status-content;
}

.status__content {
  // glitch: necessary for fullwidth media options
  overflow: visible;
}

.status__content__read-more-button,
.status__content__translate-button {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 22px;
  color: $highlight-text-color;
  border: 0;
  background: transparent;
  padding: 0;
  padding-top: 16px;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }

  .icon {
    width: 15px;
    height: 15px;
  }
}

.translate-button {
  margin-top: 16px;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  color: $dark-text-color;
}

.status__content__spoiler-link {
  display: inline-flex; // glitch: media icon in spoiler button
  border-radius: 2px;
  background: transparent;
  border: 0;
  color: $inverted-text-color;
  font-weight: 700;
  font-size: 11px;
  padding: 0 6px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
  vertical-align: top;
  align-items: center; // glitch: content indicator

  &:hover {
    background: lighten($ui-base-color, 33%);
    text-decoration: none;
  }

  .status__content__spoiler-icon {
    display: inline-block;
    margin-inline-start: 5px;
    border-inline-start: 1px solid currentColor;
    padding: 0;
    padding-inline-start: 4px;
    width: 16px;
    height: 16px;
  }
}

.status__wrapper--filtered {
  color: $dark-text-color;
  border: 0;
  font-size: inherit;
  text-align: center;
  line-height: inherit;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  clear: both;
  border-bottom: 1px solid var(--background-border-color);

  &__button {
    display: inline;
    color: lighten($ui-highlight-color, 8%);
    border: 0;
    background: transparent;
    padding: 0;
    font-size: inherit;
    line-height: inherit;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.focusable {
  &:focus {
    outline: 0;
    background: var(--toot-focus-background-color);
  }
}

.status {
  padding: 10px 14px; // glitch: reduced padding
  min-height: 54px;
  border-bottom: 1px solid var(--background-border-color);
  cursor: auto;
  opacity: 1;
  animation: fade 150ms linear;

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .content-warning {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .media-gallery,
  .video-player,
  .audio-player,
  .attachment-list {
    margin-top: 8px; // glitch: reduced margins
  }

  &.light {
    .status__relative-time,
    .status__visibility-icon {
      color: $light-text-color;
    }

    .status__display-name {
      color: $inverted-text-color;
    }

    .display-name {
      color: $light-text-color;

      strong {
        color: $inverted-text-color;
      }
    }

    .status__content {
      color: $inverted-text-color;

      a {
        color: $highlight-text-color;
      }

      &__spoiler-link {
        color: $primary-text-color;
        background: $ui-primary-color;

        &:hover,
        &:focus {
          background: lighten($ui-primary-color, 8%);
        }
      }
    }
  }

  &--in-thread {
    $thread-margin: 46px + 10px;

    border-bottom: 0;

    // Polyam: Reactions bar
    .status__content,
    .status__action-bar,
    .reactions-bar {
      margin-inline-start: $thread-margin;
      width: calc(100% - $thread-margin);
    }

    .status__content__read-more-button {
      margin-inline-start: $thread-margin;
    }
  }

  &--first-in-thread {
    border-top: 1px solid var(--background-border-color);
  }

  &__line {
    height: 10px - 4px;
    border-inline-start: 2px solid lighten($ui-base-color, 8%);
    width: 0;
    position: absolute;
    top: 0;
    inset-inline-start: 14px + ((46px - 2px) * 0.5);

    &--full {
      top: 0;
      height: 100%;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 10px - 4px;
        height: 46px + 4px + 4px;
        width: 2px;
        background: $ui-base-color;
        inset-inline-start: -2px;
      }
    }

    &--first {
      top: 10px + 46px + 4px;
      height: calc(100% - (10px + 46px + 4px));

      &::before {
        display: none;
      }
    }
  }
}

.status__wrapper.collapsed {
  .status {
    background-position: center;
    background-size: cover;
    user-select: none;
    min-height: 0;
  }

  &.has-background::before {
    display: block;
    position: absolute;
    inset-inline-start: 0;
    inset-inline-end: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(
      to bottom,
      rgba($base-shadow-color, 0.75),
      rgba($base-shadow-color, 0.65) 24px,
      rgba($base-shadow-color, 0.8)
    );
    pointer-events: none;
    content: '';
  }

  .display-name:hover .display-name__html {
    text-decoration: none;
  }

  .status__content {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0;
    mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);

    a:hover {
      text-decoration: none;
    }

    // Polyam extra change for backgrounds of code blocks
    pre,
    code {
      padding: 0;
    }
  }

  .notification__message {
    margin-bottom: 0;
    white-space: nowrap;
  }
}

.status__relative-time {
  display: block;
  font-size: 14px;
  color: $dark-text-color;
  text-align: end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status__display-name {
  color: $dark-text-color;
}

.status__info .status__display-name {
  max-width: 100%;
  display: flex;
  font-size: 15px;
  line-height: 22px;
  align-items: center;
  gap: 10px;
  overflow: hidden;

  .display-name {
    bdi {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__account {
      white-space: nowrap;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.status__info {
  font-size: 15px;
  padding-bottom: 10px;
  display: flex;
  align-items: start; // glitch: changed because of our different layout
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

.status__info__icons {
  display: flex;
  align-items: center;
  height: 1em;
  color: $action-button-color;
  gap: 4px;

  // Polyam: Different class as otherwise doesn't apply to collapse icon
  .icon {
    width: 16px;
    height: 16px;
  }

  // Polyam: Temporary fix for language icon
  .text-icon {
    font-weight: 600;
  }
}

.status__collapse-button.active > .icon {
  transform: rotate(-180deg);
}

.no-reduce-motion .status__collapse-button {
  &.activate {
    & > .icon {
      animation: spring-flip-in 1s linear;
    }
  }

  &.deactivate {
    & > .icon {
      animation: spring-flip-out 1s linear;
    }
  }
}

.status-check-box__status {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;

  .detailed-status__display-name {
    color: lighten($inverted-text-color, 16%);

    span {
      display: inline;
    }

    &:hover strong {
      text-decoration: none;
    }
  }

  .media-gallery,
  .audio-player,
  .video-player {
    margin-top: 15px;
    max-width: 250px;
  }

  .status__content {
    padding: 0;
    white-space: normal;
  }

  .media-gallery__item-thumbnail {
    cursor: default;
  }

  .content-warning {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.status__prepend {
  padding: 8px 14px; // glitch: reduced padding
  padding-bottom: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: $dark-text-color;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.status__wrapper-direct,
.notification-ungrouped--direct,
.notification-group--direct {
  background: var(--toot-private-background-color);

  &:focus {
    background: var(--toot-private-background-focus-color);
  }
}

.status__wrapper-direct,
.notification-ungrouped--direct {
  .status__prepend,
  .notification-ungrouped__header {
    color: $highlight-text-color;
  }
}

.status__action-bar {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 8px;

  &-spacer {
    flex-grow: 1;
  }

  // Polyam: Reaction button
  & > .emoji-picker-dropdown {
    width: 22px;
    height: 22px;
  }
}

.detailed-status__action-bar-dropdown {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.detailed-status {
  padding: 14px 10px; // glitch: reduced padding
  border-top: 1px solid var(--background-border-color);

  .status__content {
    font-size: 19px;
    line-height: 24px;

    .emojione {
      width: 24px;
      height: 24px;
      margin: -1px 0 0;
    }

    .status__content__spoiler-link {
      line-height: 24px;
      margin: -1px 0 0;
    }
  }

  .media-gallery,
  .video-player,
  .audio-player {
    margin-top: 8px; // glitch: reduced margins
  }

  .status__prepend {
    padding: 0;
    margin-bottom: 16px;
  }

  .logo {
    width: 40px;
    height: 40px;
    color: $dark-text-color;
  }
}

.embed {
  position: relative;

  &__overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .detailed-status {
    border-top: 0;
  }
}

.scrollable > div:first-child .detailed-status {
  border-top: 0;
}

.detailed-status__meta {
  margin-top: 24px;
  color: $dark-text-color;
  font-size: 14px;
  line-height: 18px;

  &__line {
    border-bottom: 1px solid var(--background-border-color);
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  // Polyam: Different icon size as large icons look weird
  .icon {
    width: 14px;
    height: 14px;
  }

  .animated-number {
    color: $secondary-text-color;
    font-weight: 500;
  }
}

.detailed-status__action-bar {
  border-top: 1px solid var(--background-border-color);
  border-bottom: 1px solid var(--background-border-color);
  display: flex;
  flex-direction: row;
  padding: 8px 0; // glitch: reduced padding
}

.detailed-status__wrapper-direct {
  .detailed-status,
  .detailed-status__action-bar {
    background: mix($ui-base-color, $ui-highlight-color, 95%);
  }

  &:focus {
    .detailed-status,
    .detailed-status__action-bar {
      background: mix(lighten($ui-base-color, 4%), $ui-highlight-color, 95%);
    }
  }

  .detailed-status__action-bar {
    border-top-color: mix(
      lighten($ui-base-color, 8%),
      $ui-highlight-color,
      95%
    );
  }

  .status__prepend {
    color: $highlight-text-color;
  }
}

.detailed-status__link {
  display: inline-flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  gap: 6px;
}

// Polyam: Split from class also containing .account__display-name
.status__display-name,
.status__relative-time,
.detailed-status__display-name,
.detailed-status__datetime,
.detailed-status__application {
  @include no-text-decoration;
}

// Polyam: Split from class also containing .account__display-name
.status__display-name {
  @include display-name-primary-color;
}

.muted {
  .emojione {
    opacity: 0.5;
  }
}

// Polyam: Split from class also containing a.account__display-name
.status__display-name,
.detailed-status__display-name {
  @include underline-display-name-on-hover;
}

.detailed-status__application,
.detailed-status__datetime {
  color: inherit;
}

.detailed-status__display-name {
  color: $darker-text-color;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 16px;
  overflow: hidden;

  strong,
  span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  strong {
    color: $primary-text-color;
  }
}

.status__avatar {
  width: 46px;
  height: 46px;
}

.muted {
  .status__content,
  .status__content p,
  .status__content a,
  .status__content__text {
    color: $dark-text-color;
  }

  .status__display-name strong {
    color: $dark-text-color;
  }

  .status__avatar {
    opacity: 0.5;
  }

  a.status__content__spoiler-link {
    background: $ui-base-lighter-color;
    color: $inverted-text-color;

    &:hover,
    &:focus {
      background: lighten($ui-base-lighter-color, 7%);
      text-decoration: none;
    }
  }
}

// Polyam: TODO: Move to new file?
.status-card {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  color: $darker-text-color;
  margin-top: 14px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid var(--background-border-color);
  border-radius: 8px;

  &.bottomless {
    border-radius: 8px 8px 0 0;
  }

  &__actions {
    bottom: 0;
    inset-inline-start: 0;
    position: absolute;
    inset-inline-end: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & > div {
      background: rgba($base-shadow-color, 0.6);
      border-radius: 8px;
      padding: 12px 9px;
      backdrop-filter: blur(10px) saturate(180%) contrast(75%) brightness(70%);
      flex: 0 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button,
    a {
      display: inline;
      color: $secondary-text-color;
      background: transparent;
      border: 0;
      padding: 0 8px;
      text-decoration: none;
      font-size: 18px;
      line-height: 18px;

      &:hover,
      &:active,
      &:focus {
        color: $primary-text-color;
      }
    }

    a {
      font-size: 19px;
      position: relative;
      bottom: -1px;
    }
  }
}

a.status-card {
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    // Polyam: Fix underline being white
    text-decoration-color: $highlight-text-color;

    .status-card__title,
    .status-card__host,
    .status-card__author,
    .status-card__description {
      color: $highlight-text-color;
    }
  }
}

.status-card a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    .status-card__title,
    .status-card__host,
    .status-card__author,
    .status-card__description {
      color: $highlight-text-color;
    }
  }
}

.status-card-photo {
  cursor: zoom-in;
  display: block;
  text-decoration: none;
  width: 100%;
  height: auto;
  margin: 0;
}

.status-card-video {
  // Firefox has a bug where frameborder=0 iframes add some extra blank space
  // see https://bugzilla.mozilla.org/show_bug.cgi?id=155174
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.status-card__title {
  display: block;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $primary-text-color;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.status-card.expanded .status-card__title {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.status-card__content {
  flex: 1 1 auto;
  overflow: hidden;
  padding: 8px 10px; // glitch: reduced padding
  box-sizing: border-box;
  max-width: 100%;
}

.status-card__host {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status-card__author {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: $primary-text-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  strong {
    font-weight: 500;
  }
}

.status-card__description {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status-card__image {
  flex: 0 0 auto;
  width: 96px; // glitch: intentional change to better use space
  aspect-ratio: 1;
  background: lighten($ui-base-color, 8%);
  position: relative;

  & > .icon {
    width: 15px;
    height: 15px;
    position: absolute;
    transform-origin: 50% 50%;
    top: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
  }
}

.status-card__image-image {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}

.status-card__image-preview {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  z-index: 0;
  background: $base-overlay-background;

  &--hidden {
    display: none;
  }
}

.status-card.expanded {
  flex-direction: column;
  align-items: flex-start;
}

.status-card.expanded .status-card__image {
  width: 100%;
  aspect-ratio: auto;
}

.status-card__image,
.status-card__image-image,
.status-card__image-preview {
  border-start-start-radius: 8px;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  border-end-start-radius: 8px;
}

.status-card.expanded .status-card__image,
.status-card.expanded .status-card__image-image,
.status-card.expanded .status-card__image-preview {
  border-start-end-radius: 8px;
  border-end-end-radius: 0;
  border-end-start-radius: 0;
}

.status-card.bottomless .status-card__image,
.status-card.bottomless .status-card__image-image,
.status-card.bottomless .status-card__image-preview {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
}

.status-card.expanded > a {
  width: 100%;
}

// Polyam: Split from .account--panel__button, .detailed-status__button
.detailed-status__button {
  @include panel-button;
}

.status__relative-time,
.detailed-status__datetime {
  &:hover {
    text-decoration: underline;
  }
}

.attachment-list {
  display: flex;
  font-size: 14px;
  border: 1px solid var(--background-border-color);
  border-radius: 4px;
  margin-top: 14px; // glitch: reduced margins
  overflow: hidden;

  &__icon {
    flex: 0 0 auto;
    color: $dark-text-color;
    padding: 8px 18px;
    cursor: default;
    border-inline-end: 1px solid var(--background-border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
  }

  &__list {
    list-style: none;
    padding: 4px 0;
    padding-inline-start: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    li {
      display: block;
      padding: 4px 0;
    }

    a {
      text-decoration: none;
      color: $dark-text-color;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.compact {
    border: 0;
    margin-top: 4px; // glitch: reduced margins

    .attachment-list__list {
      padding: 0;
      display: block;
    }

    .icon {
      color: $dark-text-color;
      vertical-align: middle;
    }
  }
}

// Polyam: Split from .notifaction, .status__wrapper
.status__wrapper {
  @include notification-status-wrapper;
}

.picture-in-picture {
  position: fixed;
  bottom: 20px;
  inset-inline-end: 20px;
  width: 300px;

  // glitch: feature to chose which side the pop-in player is displayed
  &.left {
    inset-inline-end: unset;
    inset-inline-start: 20px;
  }

  &__footer {
    border-radius: 0 0 4px 4px;
    background: lighten($ui-base-color, 4%);
    padding: 10px;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
  }

  &__header {
    border-radius: 4px 4px 0 0;
    background: lighten($ui-base-color, 4%);
    padding: 10px;
    display: flex;
    justify-content: space-between;

    &__account {
      display: flex;
      text-decoration: none;
      overflow: hidden;
    }

    .account__avatar {
      margin-inline-end: 10px;
    }

    .display-name {
      color: $primary-text-color;
      text-decoration: none;

      strong,
      span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      span {
        color: $darker-text-color;
      }
    }
  }

  .video-player,
  .audio-player {
    border-radius: 0;
  }
}

.picture-in-picture-placeholder {
  box-sizing: border-box;
  border: 2px dashed var(--background-border-color);
  background: $base-shadow-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: $darker-text-color;
  aspect-ratio: 16 / 9;

  .icon {
    width: 21px;
    height: 21px;
    margin-bottom: 10px;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: lighten($ui-base-color, 12%);
  }
}

.hashtag-bar {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 16px;
  gap: 6px;
  color: $darker-text-color;

  a {
    display: inline-flex;
    color: inherit;
    text-decoration: none;
    padding: 4px 12px;
    background: var(--surface-variant-background-color);
    border-radius: 4px;
    font-weight: 500;

    &:hover,
    &:focus,
    &:active {
      background: var(--surface-variant-active-background-color);
    }
  }

  .link-button {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
  }
}

.more-from-author {
  box-sizing: border-box;
  font-size: 14px;
  color: $darker-text-color;
  background: var(--surface-background-color);
  border: 1px solid var(--background-border-color);
  border-top: 0;
  border-radius: 0 0 8px 8px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 8px;

  .logo {
    height: 16px;
    color: $darker-text-color;
  }

  & > span {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  a {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    color: $primary-text-color;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: $highlight-text-color;
    }
  }
}

.content-warning {
  box-sizing: border-box;
  background: rgba($ui-highlight-color, 0.05);
  color: $secondary-text-color;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba($ui-highlight-color, 0.15);
  padding: 8px (5px + 8px);
  position: relative;
  font-size: 15px;
  line-height: 22px;

  p {
    margin-bottom: 8px;
  }

  .link-button {
    font-size: inherit;
    line-height: inherit;
    font-weight: 500;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    background: url('~images/warning-stripes.svg') repeat-y;
    width: 5px;
    top: 0;
  }

  &::before {
    border-start-start-radius: 4px;
    border-end-start-radius: 4px;
    inset-inline-start: 0;
  }

  &::after {
    border-start-end-radius: 4px;
    border-end-end-radius: 4px;
    inset-inline-end: 0;
  }

  &--filter::before,
  &--filter::after {
    background-image: url('~images/filter-stripes.svg');
  }
}
