@use '../functions' as *;

// FAIRY FLOSS VARIABLES

// Purples
$purple1: #2e2b3b;
$purple2: #504b68;
$purple3: #5f5676;
$purple4: #c8c4d4;
$purple5: #474059;
$purpleicon: #ada6bf;
$purpleborder: #5f5676;
$purplescrollbar: #5a5475;
$mint: #c2ffdf;
$pink: #ffb8d1;
$lemon: #fff683;
$coral: #ff857f;
$error: #f92672;

// Commonly used web colors
$grey-600: #4e4c5a; // Trout
$grey-100: #dadaf3; // Topaz

// Values from the classic Mastodon UI
$classic-base-color: #282c37; // Midnight Express
$classic-primary-color: #9baec8; // Echo Blue
$classic-secondary-color: #d9e1e8; // Pattens Blue
$classic-highlight-color: #6364ff; // Brand purple

$ui-button-secondary-focus-background-color: $grey-600 !default;

// Variables for components
$media-modal-media-max-width: 100%;

// put margins on top and bottom of image to avoid the screen covered by image.
$media-modal-media-max-height: 80%;

$no-gap-breakpoint: 415px;

@use '../variables' with (
  $success-green: #79bd9a,
  $warning-red: #ff5050,
  $gold-star: $lemon,
  $error-red: $error,

  $simple-background-color: $purple2,
  $ui-base-color: $purple2,
  $ui-primary-color: $purple4,
  $ui-highlight-color: $coral,

  $ui-button-background-color: darken($coral, 3%),
  $ui-button-focus-background-color: $coral,

  $ui-button-secondary-color: $grey-100,
  $ui-button-secondary-border-color: $grey-100,
  $ui-button-secondary-focus-color: #ffffff,

  $ui-button-tertiary-color: lighten($coral, 8%),
  $ui-button-tertiary-border-color: lighten($coral, 8%),
  $ui-button-tertiary-focus-background-color: $coral,

  $darker-text-color: $purple4,
  $dark-text-color: lighten($purpleicon, 8%),
  $highlight-text-color: $coral,
  $action-button-color: $purpleicon,

  $inverted-text-color: #ffffff,
  $lighter-text-color: $purple4,
  $light-text-color: lighten($purpleicon, 8%)
);
