// Restore backgrounds after https://github.com/mastodon/mastodon/pull/29522

// Profile directory
.account-card {
  background: $ui-base-color;
}

body {
  background: darken($ui-base-color, 8%);
}

.notification__filter-bar,
.account__section-headline {
  background: darken($ui-base-color, 4%);
}

.about {
  &__meta {
    background: lighten($ui-base-color, 4%);
  }

  &__section {
    &__title {
      background: lighten($ui-base-color, 4%);
    }
  }

  &__domain-blocks {
    background: darken($ui-base-color, 4%);

    &__domain {
      &:nth-child(2n) {
        background: darken($ui-base-color, 2%);
      }
    }
  }
}

.account--panel {
  background: lighten($ui-base-color, 4%);
}

.account__header {
  &__bar {
    .avatar {
      .account__avatar {
        background: darken($ui-base-color, 8%);
      }
    }
  }

  &__bio {
    .account__header__fields {
      background: darken($ui-base-color, 4%);
    }
  }
}

.tabs-bar__wrapper {
  background: darken($ui-base-color, 8%);
}

.column > .scrollable {
  background: $ui-base-color;
}

.column-back-button {
  background: $ui-base-color;
}

.column-header__back-button {
  background: $ui-base-color;
}

.column-link {
  background: lighten($ui-base-color, 8%);
  color: $primary-text-color;

  &:hover,
  &:focus,
  &:active {
    background: lighten($ui-base-color, 11%);
  }

  &--transparent {
    background: transparent;
    color: $secondary-text-color;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      color: $primary-text-color;
    }

    &.active {
      color: $highlight-text-color;
    }
  }
}

.column-subheading {
  background: $ui-base-color;
  color: $dark-text-color;
}

.column-header {
  background: $ui-base-color;
}

.column-header__button {
  background: $ui-base-color;

  &.active {
    background: lighten($ui-base-color, 4%);
  }
}

.column-header__collapsible-inner {
  background: $ui-base-color;
}

.empty-column-indicator,
.follow_requests-unlocked_explanation {
  background: $ui-base-color;
}

.follow_requests-unlocked_explanation {
  background: darken($ui-base-color, 4%);
}

.error-column {
  background: $ui-base-color;
}

.column-inline-form {
  background: lighten($ui-base-color, 4%);
}

.inline-follow-suggestions {
  border-bottom: 1px solid mix($ui-base-color, $ui-highlight-color, 75%);
  background: mix($ui-base-color, $ui-highlight-color, 95%);

  &__body {
    &__scrollable {
      &__card {
        background: darken($ui-base-color, 4%);
      }
    }
  }
}

.upload-progress__backdrop {
  background: darken($ui-base-color, 8%);
}

.scrollable .account-card {
  background: lighten($ui-base-color, 8%);
}

.scrollable .account-card__bio::after {
  background: linear-gradient(
    to left,
    lighten($ui-base-color, 8%),
    transparent
  );
}

.filter-form {
  background: $ui-base-color;
}

.drawer__inner {
  background: darken($ui-base-color, 4%);

  &.darker {
    background: $ui-base-color;
  }
}

.drawer__inner__mastodon {
  background: darken($ui-base-color, 4%)
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 234.80078 31.757813" width="234.80078" height="31.757812"><path d="M19.599609 0c-1.05 0-2.10039.375-2.90039 1.125L0 16.925781v14.832031h234.80078V17.025391l-16.5-15.900391c-1.6-1.5-4.20078-1.5-5.80078 0l-13.80078 13.099609c-1.6 1.5-4.19883 1.5-5.79883 0L179.09961 1.125c-1.6-1.5-4.19883-1.5-5.79883 0L159.5 14.224609c-1.6 1.5-4.20078 1.5-5.80078 0L139.90039 1.125c-1.6-1.5-4.20078-1.5-5.80078 0l-13.79883 13.099609c-1.6 1.5-4.20078 1.5-5.80078 0L100.69922 1.125c-1.600001-1.5-4.198829-1.5-5.798829 0l-13.59961 13.099609c-1.6 1.5-4.200781 1.5-5.800781 0L61.699219 1.125c-1.6-1.5-4.198828-1.5-5.798828 0L42.099609 14.224609c-1.6 1.5-4.198828 1.5-5.798828 0L22.5 1.125C21.7.375 20.649609 0 19.599609 0z" fill="#{hex-color($ui-base-color)}"/></svg>')
    no-repeat bottom / 100% auto;
}

.drawer__header {
  background: darken($ui-base-color, 4%);

  a:hover,
  a:focus,
  a:active {
    background: $ui-base-color;
  }
}

.audio-player {
  background: darken($ui-base-color, 8%);
}

.getting-started__wrapper,
.getting_started,
.flex-spacer {
  background: $ui-base-color;
}

.privacy-policy {
  background: $ui-base-color;
}

.regeneration-indicator {
  background: $ui-base-color;
}

@media screen and (max-width: $no-gap-breakpoint - 1px) {
  .columns-area__panels__pane--navigational {
    .navigation-panel {
      background: $ui-base-color;
    }
  }

  .layout-single-column .ui__header {
    background: $ui-base-color;
  }
}

.focusable {
  &:focus {
    background: lighten($ui-base-color, 4%);

    .detailed-status,
    .detailed-status__action-bar {
      background: lighten($ui-base-color, 8%);
    }
  }
}

.status__wrapper-direct {
  background: mix($ui-base-color, $ui-highlight-color, 95%);

  &:focus {
    background: mix(lighten($ui-base-color, 4%), $ui-highlight-color, 95%);
  }
}

.detailed-status {
  background: lighten($ui-base-color, 4%);
}

.detailed-status__action-bar {
  background: lighten($ui-base-color, 4%);
}

.status {
  &.collapsed {
    .status__content {
      &::after {
        background: linear-gradient(
          rgba($ui-base-color, 0),
          rgba($ui-base-color, 1)
        );
      }
    }
  }
}

// Restore backgrounds after https://github.com/mastodon/mastodon/pull/29584

.search-results__section {
  &__header {
    background: darken($ui-base-color, 4%);
  }
}

.moved-account-banner,
.follow-request-banner,
.account-memorial-banner {
  background: lighten($ui-base-color, 4%);
}

.explore__search-results {
  background: $ui-base-color;
}
