// Animations

@keyframes flash {
  from {
    background: $accent;
  }

  to {
    background: $accent-secondary;
  }
}

// General

html {
  scrollbar-color: $background-brighter rgba(0, 0, 0, 10%);
}

body {
  background-color: $app-background;
}

// Makes horizontal lines invisible
hr {
  opacity: 0;
}

// Uses simple-background and should be white. Used in modals and column settings
.react-toggle-thumb {
  background-color: darken($white, 2%);
}

// Columns

.column > .scrollable,
.getting-started {
  border-radius: 0 0 $border-radius $border-radius;
}

.column-link {
  background: $ui-base-color;

  // TODO: Due to limitations of the selectors, the item before and after <hr> are missing border-radius
  // Applies bottom corners roundening to Lists and App settings
  &:nth-last-of-type(1) {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  // Applies top corners roundening to Home and Preferences
  &:nth-of-type(1) {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }

  &:hover,
  &:active,
  &:focus {
    background: $ui-base-color;
    color: $white;
  }
}

.column-header {
  background-color: $background-brighter;
  border-radius: $border-radius $border-radius 0 0;
  border-bottom: none;

  &__button,
  &__back-button {
    background-color: $background-brighter;
    border-radius: $border-radius;
  }

  &__button {
    &.active,
    &.active:hover {
      background: $background-brighter;
    }

    &:last-child {
      border-start-end-radius: $border-radius;
    }
  }

  &__collapsible {
    border-bottom: none;
  }

  &__collapsible-inner {
    background-color: $background-brighter;
  }
}

// Slim button
.column-back-button {
  background-color: $background-brighter;
  border-radius: $border-radius $border-radius 0 0;
  border-bottom: none;
}

// Form in edit/add list
.column-inline-form {
  background-color: $background-brighter;
}

.announcements {
  background-color: $background-brighter;
}

// Notification category and account page
.notification__filter-bar,
.account__section-headline {
  background-color: $background-brighter;
  border-bottom: none;

  a,
  button {
    &.active {
      color: $accent;
    }
  }

  // Makes text in account section brighter on hover
  a:not(.active):hover {
    color: $white;
  }

  // Makes icons in notification bar jump up on hover
  button:not(.active):hover {
    top: -3px;
  }
}

// "Toots are not E2E encrypted and such banners
.follow_requests-unlocked_explanation {
  border-bottom: none;
}

// Animates follow request count
.icon-with-badge__badge,
.column-link__badge {
  background-color: $accent;
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

// Compose

.navigation-bar {
  // Add background and border-radius in simple UI
  background: $ui-base-color;
  border-radius: $border-radius;

  // Account handle
  .acct {
    color: $primary-text-color;
  }
}

.drawer {
  & > div {
    border-radius: $border-radius;
  }

  &__header {
    background-color: $ui-base-color;
    color: $primary-text-color;
    border-radius: $border-radius;

    a {
      border-radius: $border-radius;

      &:hover,
      &:focus {
        background-color: rgba($accent-secondary, 0.1);
        color: $accent;
      }
    }
  }

  // Compose area
  &__inner {
    background-color: $background;
  }
}

// Fix glitch mascot
.mbstobon-0,
.mbstobon-1,
.mbstobon-2,
.mbstobon-3 {
  .drawer__inner__mastodon {
    background-color: $background;
  }
}

// Fixes white corners in simple UI
.compose-panel {
  .compose-form {
    &__autosuggest-wrapper {
      background-color: transparent;
    }
  }
}

.compose-form {
  &__buttons-wrapper {
    background-color: $simple-background-color;
  }

  &__poll-wrapper {
    // Arrows in select
    select {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='#{hex-color($arrow-color)}'/></svg>");
    }

    .icon-button {
      // Uses simple-background but should be darker white
      &.disabled {
        color: darken($white, 14%);
      }
    }
  }

  &__warning {
    background-color: $background-brighter;
  }

  .autosuggest-textarea {
    &__suggestions {
      background-color: $simple-background-color;

      &__item {
        &:hover,
        &:focus,
        &:active,
        &.selected {
          background-color: lighten($simple-background-color, 8%);
        }
      }
    }
  }
}

.reply-indicator {
  max-height: 38px;
  overflow-y: hidden;
  transition: max-height 1s;
  background: $background-brighter;

  &:hover {
    max-height: 100%;
  }
}

// Make character counter more readable
.character-counter {
  color: $primary-text-color;
}

// Emoji picker

.emoji-mart-bar:first-child {
  background: $background;
  border-bottom: none;
}

.emoji-mart-anchor {
  color: $accent-secondary;

  &:hover {
    color: darken($accent-secondary, 4%);
  }
}

// Restore default, since color added to emoji-mart-anchor
.emoji-mart-anchor-selected {
  color: $highlight-text-color;

  &:hover {
    color: darken($highlight-text-color, 4%);
  }
}

.emoji-mart-search {
  input {
    background: $background;
    border-color: $app-background;
  }
}

.emoji-mart-search-icon {
  svg {
    fill: $primary-text-color;
  }
}

// Language Dropdown

.language-dropdown {
  &__dropdown {
    &__results {
      &__item {
        &:focus,
        &:active,
        &:hover {
          background-color: lighten($simple-background-color, 8%);
        }

        &.active {
          background-color: lighten($simple-background-color, 8%);

          &:hover {
            background-color: lighten($simple-background-color, 12%);
          }
        }
      }
    }
  }
}

// Privacy and Options Dropdown

.privacy-dropdown {
  &__option {
    &:hover,
    &.active {
      background-color: lighten($simple-background-color, 8%);

      &:hover {
        background-color: lighten($simple-background-color, 8%);
      }
    }

    &.active:hover {
      background-color: lighten($simple-background-color, 12%);
    }
  }
}

// Dropdown

.dropdown-menu {
  background-color: $ui-base-color;

  &__container {
    &__header {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &__separator {
    border-bottom: none;
  }
}

// Toots

.status {
  border-bottom: none;

  &__content {
    a {
      color: $accent;
    }

    &__spoiler-link {
      background-color: $accent-secondary;

      &:hover {
        background-color: lighten($accent-secondary, 3%);
      }
    }

    .status__content__spoiler-link {
      background-color: $accent-secondary;

      &:focus,
      &:hover {
        background-color: lighten($accent-secondary, 3%);
      }
    }
  }

  // Used in modals
  &.light {
    // Style the same as default
    .status__content {
      a.status__content__spoiler-link {
        background-color: $accent-secondary;

        &:hover,
        &:focus {
          background-color: lighten($accent-secondary, 3%);
        }
      }
    }
  }

  &--first-in-thread {
    border-top: none;
  }
}

.detailed-status {
  &__action-bar {
    border-top: none;
    border-bottom: none;
  }
}

.conversation {
  border-bottom: none;
}

.notification-follow,
.notification-follow-request {
  border-bottom: none;
}

.notification__report {
  border-bottom: none;
}

// Technically also announcements
.reactions-bar {
  &__item {
    background-color: $ui-base-color;
    color: $primary-text-color;

    &:hover {
      background-color: rgba($accent-secondary, 0.1);
    }

    &.active {
      background-color: rgba($accent-secondary, 0.25);
      color: $accent-secondary;

      .reactions-bar__item__count {
        color: $accent;
      }
    }
  }
}

// Buttons

.icon-button {
  &.inverted {
    color: $accent-secondary;

    &:active,
    &:hover,
    &:focus {
      background: rgba($accent-secondary, 0.25);
      color: $accent-secondary;
    }

    // Restore brighter color when active
    &.active {
      color: $accent;
    }
  }

  &.star-icon.active {
    color: $accent;
  }
}

.text-icon-button {
  color: $accent-secondary;

  &:active,
  &:hover,
  &:focus {
    color: $accent-secondary;
    background: rgba($accent-secondary, 0.25);
  }
}

// Icons

.notification__favourite-icon-wrapper .fa.star-icon {
  color: $accent;
}

// Account page

.account {
  border-bottom: none;

  &__action-bar {
    border-top: none;
    border-bottom: none;

    &__tab {
      border-inline-start: none;
    }
  }

  &__disclaimer,
  &__action-bar-links {
    background-color: $background-brighter;
  }

  &__header {
    background-color: $background-brighter;

    &__image {
      border-bottom: none;
    }

    &__bar {
      border-bottom: none;
    }

    &__bio {
      .account__header__fields {
        border-top: none;
      }
    }

    &__fields {
      border-bottom: none;
      border-top: none;

      dt {
        color: $primary-text-color;
      }
    }

    // Polyam: Keep same background as header
    &__account-note {
      textarea {
        &:focus {
          background-color: $background-brighter;
        }
      }
    }
  }
}

// Modals

.doodle-modal,
.boost-modal,
.confirmation-modal,
.report-modal,
.actions-modal,
.mute-modal,
.block-modal,
.compare-history-modal,
.report-dialog-modal {
  background-color: lighten($ui-base-color, 8%);

  &__action-bar {
    background-color: $ui-base-color;
  }

  &__comment {
    border-inline-end: none;

    // Textarea in adding alt-text
    .setting-text {
      background-color: $simple-background-color;

      &__wrapper {
        border: none;
      }
    }
  }

  &__container {
    border-color: $ui-base-lighter-color;

    // Arrows in select in mute modal
    select {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='#{hex-color($arrow-color)}'/></svg>");
    }
  }

  // Buttons in report modal after sending
  .button.button-secondary {
    &:hover,
    &:focus,
    &:active {
      border-color: $accent;
      color: $accent;
    }
  }

  // Compare history modal uses .report-modal__target
  .report-modal__target,
  &__target {
    border-color: $ui-base-lighter-color;
  }

  .status__content {
    // Make horizontal line in history modal visible again
    hr {
      opacity: 1;
      background-color: $ui-base-lighter-color;
    }

    &__spoiler-link {
      color: $primary-text-color;
    }
  }

  // Borders in report modal between categories, rules and toots
  .poll__option.dialog-option {
    border-color: $ui-base-lighter-color;
  }

  // Checkmark in checkboxes
  .dialog-option .poll__input {
    color: $ui-base-color;
  }
}

.glitch.local-settings {
  background-color: $ui-base-color;

  &__navigation {
    background-color: $background-brighter;

    &__item {
      background-color: $background-brighter;
      border-top: none;
      border-bottom: none;

      &:hover {
        background-color: $ui-base-color;
      }
    }
  }
}

// Settings

// Uses simple-background and should be white
.qr-code {
  background-color: $white;
}

.simple_form {
  select {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='#{hex-color($arrow-color)}'/></svg>");
  }
}

.admin-wrapper {
  .content {
    h2,
    h3 {
      color: $primary-text-color;
    }

    h4 {
      border-bottom: none;
    }
  }

  .sidebar {
    ul {
      a {
        &:hover {
          background: $ui-base-color;
        }

        &.selected {
          background: $ui-base-color;
        }
      }

      // Still highlight selected element
      .simple-navigation-active-leaf a {
        background: $accent;

        &:hover {
          background: $accent-bright;
        }
      }

      ul {
        background-color: $ui-base-color;
      }
    }
  }
}

// Fix text color in lists like rules, announcements etc
.announcements-list,
.filters-list {
  &__item {
    &__title {
      color: $primary-text-color;
    }

    a.announcements-list__item__title {
      &:hover,
      &:active,
      &:focus {
        color: $white;
      }
    }
  }
}

.table {
  &.horizontal-table {
    // Removes lines in blocked domain view
    & > tbody > tr > th,
    & > tbody > tr > td {
      border: none;
    }

    // Lines between table elements
    & > tbody > tr {
      border: 1px solid lighten($ui-base-color, 8%);
    }
  }
}
