// turn the timed line into a highly addictive dopamine slot machine

// fav button

@keyframes spring-rotate-in {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(20deg);
  }

  60% {
    transform: rotate(-380deg);
  }

  85% {
    transform: rotate(-355deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spring-rotate-out {
  0% {
    transform: rotate(-360deg);
  }

  60% {
    transform: rotate(20deg);
  }

  85% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.no-reduce-motion .icon-button.star-icon {
  &.deactivate {
    & > .icon {
      animation: none;
    }
  }

  &.activate {
    & > .icon {
      animation: spring-rotate-in 1s cubic-bezier(0.2, 0, 0.4, 1);
    }
  }
}

// bookmark button

@keyframes bookmark-save {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-3px);
  }

  60% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Polyam: Disabled due to animation playing on load
.no-reduce-motion .icon-button {
  & > .icon-bookmark {
    transform: translateY(0);
    animation: none;
  }

  &.active > .icon-bookmark {
    animation: bookmark-save 0.6s cubic-bezier(0.2, 0, 0.4, 1);
  }
}
*/

// collapse button at the top right of all posts

@keyframes spring-flip-in {
  0% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(-190deg);
  }

  85% {
    transform: rotate(-175deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes spring-flip-out {
  0% {
    transform: rotate(-180deg);
  }

  60% {
    transform: rotate(10deg);
  }

  85% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.no-reduce-motion .status__collapse-button {
  &.activate > .icon {
    animation: spring-flip-in 0.5s cubic-bezier(0.2, 0, 0.4, 1);
  }

  &.deactivate > .icon {
    animation: spring-flip-out 0.5s cubic-bezier(0.2, 0, 0.4, 1);
  }
}
