// glitch-soc addition
@mixin fullwidth-gallery {
  &.full-width {
    margin-left: -14px;
    margin-right: -14px;
    width: inherit;
    max-width: none;
    border-radius: 0;
  }
}

@mixin search-input {
  outline: 0;
  box-sizing: border-box;
  width: 100%;
  box-shadow: none;
  font-family: inherit;
  background: var(--color-bg-secondary);
  color: var(--color-text-primary);
  border-radius: 4px;
  border: 1px solid var(--color-border-on-bg-secondary);
  font-size: 17px;
  line-height: normal;
  margin: 0;
}

@mixin search-popout {
  background: var(--color-bg-elevated);
  border-radius: 4px;
  padding: 10px 14px;
  padding-bottom: 14px;
  margin-top: 10px;
  color: var(--color-text-secondary);
  box-shadow: 2px 4px 15px var(--color-shadow-primary);

  h4 {
    text-transform: uppercase;
    color: var(--color-text-secondary);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  li {
    padding: 4px 0;
  }

  ul {
    margin-bottom: 10px;
  }

  em {
    font-weight: 500;
    color: var(--color-text-primary);
  }
}

// Polyam: Style is reused for icon buttons
@mixin follow-unfollow-icons {
  .icon-button {
    border: 1px solid var(--color-border-primary);
    border-radius: 4px;
    box-sizing: content-box;
    padding: 5px;

    // Polyam: Color active icon-button
    &.active {
      border-color: var(--color-text-brand);

      &:hover,
      &:focus,
      &:active {
        background-color: var(--color-bg-brand-softer);
      }
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}

// Polyam: Style is reused for anniversary banner
@mixin account-banner {
  padding: 20px;
  background: var(--color-bg-tertiary);
  display: flex;
  align-items: center;
  flex-direction: column;

  &__message {
    color: var(--color-text-secondary);
    padding: 8px 0;
    padding-top: 0;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .detailed-status__display-name {
    margin-bottom: 0;
  }
}
